@charset "UTF-8";

/* ==========================================================================
   Button
   ========================================================================== */

%Btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}

/**
 * もっと見る系
 */
.Btn-0 {
  @extend %Btn;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  width: 100%;
  height: 50px;

  &.is-l {
    /*min-width: 260px;*/
  }
}
  .Btn-0__inner {
    display: table;
    height: inherit;
    width: 100%;
  }
    .Btn-0__content {
      color: $COLOR_EM;
      font-size: 1.4rem;
      display: table-cell;
      vertical-align: middle;
      height: inherit;
      text-align: center;
      white-space: nowrap;
    }
      .Btn-0__txt {
        vertical-align: middle;
      }
      .Btn-0__icon {
        margin-right: 2px;
      }

/**
 * 赤グラデ
 */
.Btn-1 {
  @extend %Btn;
  background-color: #ec0d17;
  background-image: linear-gradient(to bottom, #ff555d, #ec0d17);
  border-radius: 2px;
  height: 36px;
  width: 100%;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.3);
  line-height: 1;

  &.is-h_l {
    height: 44px;
  }
  &.is-no-shadow {
    box-shadow: none;
  }
}
  .Btn-1__inner {
    display: table;
    height: inherit;
    width: 100%;
  }
    .Btn-1__content {
      color: #fff;
      font-size: 1.4rem;
      /*font-weight: bold;*/
      display: table-cell;
      vertical-align: middle;
      height: inherit;
      text-align: center;
    }
    .Btn-1__txt {
      vertical-align: middle;
    }

/**
 * Signin, Login系
 */
.Btn-2 {
  @extend %Btn;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  line-height: 1;

  &.is-blue {
    background-color: #47629c;
  }
  &.is-red {
    background-color: #e00314;
  }
}
  .Btn-2__inner {
    display: table;
    height: inherit;
    width: 100%;
  }
    .Btn-2__content {
      color: #fff;
      font-size: 1.4rem;
      display: table-cell;
      vertical-align: middle;
      height: inherit;
      text-align: center;
    }
    .Btn-2__txt {
      vertical-align: middle;
    }
    .Btn-2__icon {
      margin-right: 14px;
    }

/**
 * btns
 */
.Btn-group {
  display: flex;
}
  .Btn-group__i {
    flex: 1;
    width: 100%;

    + .Btn-group__i {
      margin-left: 6px;
    }
  }