@charset "UTF-8";

/* ==========================================================================
   Carousel
   ========================================================================== */

/**
 * Carousel
 */
.Carousel {
  position: relative;
}
  .Carousel__mask {
    overflow: hidden;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .Carousel__items {
    display: flex;
  }
    .Carousel__item {

      + .Carousel__item {
        margin-left: 35px;
      }

    }

  /**
   * indicator
   */
  .Carousel__indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
  }
    .Carousel__indicator-i {
      background-color: #d8d8d8;
      border-radius: 4px;
      width: 8px;
      height: 8px;

      + .Carousel__indicator-i {
        margin-left: 10px;
      }

      &.is-active {
        background-color: #636363;
      }
    }
