@charset "UTF-8";

/* ==========================================================================
   Form
   ========================================================================== */

.Input {
  background-color: #f0f2f5;
  border: 1px solid #ccc;
  appearance: none;
  padding: 0.7857em 10px;
  font-size: 14px;
  vertical-align: top;
}

.Textarea {
  background-color: #f0f2f5;
  border: 1px solid #ccc;
  appearance: none;
  padding: 0.7857em 10px;
  font-size: 14px;
  line-height: $BASE_LINE_HEIGHT;
  vertical-align: top;
}

.Checkbox {
  appearance: none;
  background-color: none;
  border: none;
  padding: none;
  margin: none;
  @include sprite-icon($common_checkbox);

  &:checked {
    @include sprite-icon($common_checkbox_checked);
  }
}