@charset "UTF-8";

/* ==========================================================================
   Modal
   ========================================================================== */

/**
 * Overlay
 */
.Overlay {
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999;
  backface-visibility: hidden;

  display: none;
}

/**
 * Modal
 */
.Modal {
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10000;
}
  .Modal__closer {
    position: absolute;
    top: 15px;
    right: 16px;
  }

  .Modal__part-0 {
    position: relative;
    text-align: center;

    &:before {
      content: '';
      display: block;
      height: 1px;
      background-color: #ebebeb;
      width: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
  }

/**
 * Signup
 */
.Signup-modal {
  top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}
  .Signup-modal__container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .Signup-modal__h {
    border-bottom: 1px solid #ebebeb;
    line-height: 45px;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 25px;
  }
  .Signup-modal__form {
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
  }
  .Signup-modal__btn {
    border-top: 1px solid #ebebeb;
  }
    .Signup-modal__btn-a {
      display: block;
      text-align: center;
      font-size: 1.6rem;
      line-height: 43px;
    }


/**
 * Login
 */
.Login-modal {
  top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: none;
}
  .Login-modal__container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .Login-modal__h {
    border-bottom: 1px solid #ebebeb;
    line-height: 45px;
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 25px;
  }
  .Login-modal__form {
    border-top: 1px solid #ebebeb;
    padding-top: 20px;
  }
  .Login-modal__btn {
    border-top: 1px solid #ebebeb;
  }
    .Login-modal__btn-a {
      display: block;
      text-align: center;
      font-size: 1.6rem;
      line-height: 43px;
    }
