@charset "UTF-8";

/* ==========================================================================
   Tabs
   タブの個数やデザインが必要になったら、ここをカスタマイズ
   ========================================================================== */

/**
 * Tabs
 */
.Tab__menu {
  display: flex;
  border-bottom: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
  .Tab__menu-i {
    flex: 1;
    width: 100%;

     + .Tab__menu-i {
      border-left: 1px solid #ccc;
     }

  }
  .Tab__menu-a {
    color: $COLOR_WEAK;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;

    &.is-active {
      background-color: #f0f0f0;

      /* @NOTE 例外的なケースのため許容 */
      .Icon-num {
        background-color: #888;
      }

    }
    &.is-inactive {
      background-color: #fff;
    }
  }

    .Tab__menu-txt {
    }
    .Tab__menu-icon {
      margin-left: 5px;
    }