@charset "UTF-8";

@import "_version";
@import "_variables";

/* sprites */
@import "sprite/_common-sprite-base";
@import "sprite/_top-sprite-base";
@import "sprite/_about-sprite-base";
@import "sprite/_start-sprite-base";

/* default */
@import "_mixin";
@import "_reset";
@import "_default";
@import "_adjustment";

/* project */
@import "_common";
@import "_header";
@import "_nav";
@import "_footer";
@import "_modal";
/*@import "_visual";*/
@import "_heading";
@import "_media";
@import "_icon";
@import "_form";
@import "_entry";
@import "_gauge";
@import "_button";
@import "_tabs";
@import "_helper";

/* vendor */
@import "vendor/_flexslider";

/* pages */
@import "pages/_top";
@import "pages/_about";
@import "pages/_start";
@import "pages/_search";
@import "pages/_project";

//@import "vendor/animate/_animate";