@charset "UTF-8";

/* ==========================================================================
   Project
   ========================================================================== */

/**
 * addition
 */
.Project-addition {
  display: table;
}
  .Project-addition__item {
    display: table-cell;
    vertical-align: middle;

    &.is-0 {
      width: 610px;
    }
    &.is-1 {
      width: 390px;
    }
  }
    .Project-addition__sns {
      background-color: #f1f1f1;
    }
    .Project-addition__conditon {
      background-color: #999;
      border-radius: 6px;
      color: #fff;
      font-size: 14px;
      margin-left: 40px;
      padding: 10px 27px;
    }


/**
 * outline
 */
.Project-outline {
}
  /**
   * main
   */
  .Project-outline__main {
    padding: 10px 10px 20px;
  }

    .Project-outline__visual {
      overflow: hidden;
      min-height: 180px;
      position: relative;
      margin-bottom: 7px;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(to bottom, rgba(76,76,76,0) 15.3%, rgba(51,51,51,0.7) 100%);
        z-index: 3;
      }
    }
      .Project-outline__visual-img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
      .Project-outline__visual-body {
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        padding: 0 10px 15px;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 4;
      }

    /**
     * alert
     */
    .Project-outline__alert {
      color: $COLOR_FOCUS;
      border: 1px solid #ccc;
      border-radius: 6px;
      text-align: center;
      padding: 24px 0 19px;

      .Project-outline__alert-h {
        font-size: 1.8rem;
        font-weight: bold;
      }
      .Project-outline__alert-txt {
        font-size: 1.4rem;
      }

      /* 失敗時 */
      &.is-miss {

        .Project-outline__alert-h,
        .Project-outline__alert-txt {
          color: $COLOR_WEAK;
        }

      }
      /* 成功時 */
      &.is-complete {
        border: 1px solid #e00314;
      }

    }

    /**
     * conditions
     */
    .Project-outline__conditions {
    }
      .Project-outline__condition {
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: baseline;

        + .Project-outline__condition {
          margin-top: 3px;
        }

      }
        .Project-outline__condition-dt {
          color: $COLOR_WEAK2;
        }
        .Project-outline__condition-dd {
          font-size: 1.6rem;
          display: flex;
          flex: 1;
          justify-content: flex-end;
        }

    /**
     * gauge
     */
    .Project-outline__gauge-set {
      margin-top: 15px;
      margin-bottom: 25px;
    }
      .Project-outline__gauge-set__txt {
        font-size: 1.4rem;
      }
      .Project-outline__gauge-set__gauge {
        height: 14px;
      }

    .Project-outline__watch {
      color: $COLOR_EM;
      margin-top: 20px;
      margin-bottom: 25px;
      font-size: 1.6rem;
      font-weight: bold;
      text-align: center;
    }

    /**
     * promoter
     */
    .Project-outline__promoter {
      margin-top: 25px;
    }
      .Project-outline__promoter-img {
        margin-right: 13px;
      }
      .Project-outline__promoter-body {
      }
        .Project-outline__promoter-name {
          color: #808080;
          font-size: 1.4rem;
          font-weight: bold;
        }
        .Project-outline__promoter-desc {
          color: #808080;
          margin-top: 2px;
        }


  /**
   * sub
   */
  .Project-outline__sub {
    border-top: 1px solid #f0f0f0;
    line-height: 2;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
    height: 260px;
    position: relative;
  }
    .Project-outline__more {
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 75%);
      padding: 90px 20px 0;
      position:absolute;
      left: 0;
      bottom: 0;
      height: 152px;
      width: 100%;
      text-align: center;
    }

  .Project-outline__sub-2 {
    border-top: 1px solid #f0f0f0;
    padding: 10px 10px 35px;
  }

    /**
     * return
     */
    .Project-outline__return {
      background-color: #f7f7f7;
      border: 1px solid #b4b4b4;
      border-radius: 2px;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
      position: relative;

      + .Project-outline__return {
        margin-top: 10px;
      }
    }

      /**
       * toggle
       */
      .Project-outline__return-toggle {
        @include sprite-bg($common_icon_accordion_b);
        position: absolute;
        top: 9px;
        right: 9px;
        cursor: pointer;
      }

      /**
       * header
       */
      .Project-outline__return-header {
        padding: 10px;
      }
        .Project-outline__return-h-0 {
          display: flex;
          align-items: center;
          font-size: 1.3rem;
          color: #555;
          margin-bottom: 14px;
        }
          .Project-outline__return-h-0-img {
            margin-right: 10px;
          }

        .Project-outline__return-condition-0 {
          overflow: hidden;
          line-height: 1;
        }
          .Project-outline__return-condition-0-i {

            display: flex;
            align-items: center;

            &.is-num {
              float: left;
              font-size: 1.4rem;
            }
            &.is-yen {
              float: right;
              font-size: 2rem;
              font-weight: bold;
            }

          }

        /**
         * body
         */
        .Project-outline__return-body {
          padding: 25px 20px 20px;
        }
          .Project-outline__return-h-1 {
            font-size: 1.3rem;
            text-align: center;
            margin-bottom: 20px;
          }
          .Project-outline__return-img {
            margin-bottom: 10px;
          }
          .Project-outline__return-desc {
            font-size: 1.3rem;
            margin-bottom: 20px;
          }

          .Project-outline__return-condition-1 {
          }
            .Project-outline__return-condition-1-i {
              display: flex;
              align-items: center;
              font-size: 1.4rem;

              + .Project-outline__return-condition-1-i {
                margin-top: 6px;
              }
            }

          .Project-outline__return-yen {
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
          }

/**
 * update
 */
.Project-update {
}
  .Projct-update__main {

  }
    /**
     * header
     */
    .Project-update__header {
      padding: 20px;
      border-bottom: 1px solid #f0f0f0;
    }
      .Project-update__header-date {
        color: $COLOR_WEAK2;
        font-size: 1.1rem;
      }
      .Project-update__header-h {
        font-size: 1.4rem;
        margin-top: 12px;
        text-align: center;
      }

    /**
     * content
     */
    .Project-update__content {
      padding: 0 10px 28px;
      line-height: 2;/* 1.667 */
    }

    .Project-update__support {
      padding-left: 20px;
      padding-right: 20px;
    }

  /**
   * related
   */
  .Project-update__related {
    border-top: 1px solid #d8d8d8;
  }
    .Project-update__related-item {
      border-bottom: 1px solid #d8d8d8;
      padding: 10px;
    }
      .Project-update__related-item-img {
        margin-right: 16px;
      }

    .Project-update__related-item-header {

    }
      .Project-update__related-item-header-date {
        color: $COLOR_WEAK2;
        font-size: 1.1rem;
      }
      .Project-update__related-item-header-h {
        margin-top: 2px;
        min-height: $BASE_LINE_HEIGHT * 2em;
      }
    .Project-update__related-item-body {
    }
    .Project-update__related-item-footer {
      text-align: right;
      margin-top: 4px;
    }

/**
 * cheer
 */
.Project-cheer {
}
  .Project-cheer__comment {
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
  }
    .Project-cheer__comment-img {
      border-radius: 4px;
      overflow: hidden;
      margin-right: 20px;
    }
    .Project-cheer__comment-main {

    }
      .Project-cheer__comment-header {
        color: $COLOR_WEAK2;
        margin-bottom: 8px;
        vertical-align: middle;
      }
        .Project-cheer__comment-name,
        .Project-cheer__comment-date,
        .Project-cheer__comment-support {
          font-size: 1rem;
        }
        .Project-cheer__comment-date {
        }
        .Project-cheer__comment-support {
          color: $COLOR_WEAK2;
          margin-top: 10px;
          text-align: right;
        }

  /**
   * more
   */
  .Project-cheer__more {
    padding: 20px 20px 30px;
  }