@charset "UTF-8";

/* ==========================================================================
   Project
   ========================================================================== */
.Project-visual {
  margin-top: 20px;
}
  .Project-visual__main {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 400px;
    overflow: hidden;
  }
    .Project-visual__img {
      float: left;
      width: 610px;
      height: 100%;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
      }

    }
      .Project-visual__img-mask {
        overflow: hidden;
        height: 100%;
        border-radius: 6px 0 0 6px;
      }

    .Project-visual__body {
      overflow: hidden;
      padding: 23px 28px;
    }

  /**
   * conditions
   */
  .Project-visual__conditions {
    min-height: 172px;
  }
    .Project-visual__condition {
      overflow: hidden;
      width: 100%;
      margin-bottom: 8px;
    }
      .Project-visual__condition-dt {
        float: left;
      }
      .Project-visual__condition-dd {
        float: right;

        &.is-sum {
          font-size: 32px;
          margin-top: -0.2em;
        }

        &.is-nosupporter {
          font-size: 32px;
          margin-top: -0.2em;

          a {
            color: #f53544;
            text-decoration: underline;
          }
        }

      }

  /**
   * alert
   */
  .Project-visual__alert {
    color: #e00314;
    border: 2px solid #ccc;
    border-radius: 6px;
    text-align: center;
    padding: 24px 0 19px;

    /* 失敗時 */
    &.is-miss {

    }
    /* 成功時 */
    &.is-complete {
      border: 2px solid #e00314;
    }
  }


  .Project-visual__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

/**
 * addition
 */
.Project-addition {
  display: table;
}
  .Project-addition__item {
    display: table-cell;
    vertical-align: middle;

    &.is-0 {
      width: 610px;
    }
    &.is-1 {
      width: 390px;
    }
  }
    .Project-addition__sns {
      background-color: #f1f1f1;
    }
    .Project-addition__conditon {
      background-color: #999;
      border-radius: 6px;
      color: #fff;
      font-size: 14px;
      margin-left: 40px;
      padding: 10px 27px;
    }

/**
 * promoter
 */
.Project-promoter {

}
  .Project-promoter__media {
    margin-bottom: 20px;
  }
    .Project-promoter__media-img {
      margin-right: 20px;
    }
    .Project-promoter__media-body {
      padding-top: 33px;
    }
  .Project-promoter__outline {

  }

/**
 * outline
 */
.Project-outline {
  /*
  font-size: 16px;
  line-height: 1.6;
  padding-top: 40px;
  */
  
}

/**
 * update
 */
.Project-update {
}
  .Projct-update__main {
  }
    /**
     * header
     */
    .Project-update__header {
      padding: 20px;
      border-bottom: 1px solid #f0f0f0;
    }
      .Project-update__header-date {
        color: $COLOR_WEAK2;
        font-size: 1.1rem;
      }
      .Project-update__header-h {
        font-size: 1.4rem;
        margin-top: 12px;
        text-align: center;
      }
      
    /**
     * sns
     */
    .Project-update__sns {
      text-align: center;
      min-height: 20px;
    }
      .Project-update__sns-i {
        display: inline-block;
        vertical-align: bottom;
        
        + .Project-update__sns-i {
          margin-left: 32px;
        }
      }
    
    /**
     * content
     */
    .Project-update__content {
      padding: 0 10px 28px;
      line-height: 1.667;
    }
    
    .Project-update__support {
      padding-left: 20px;
      padding-right: 20px;
    }

  /**
   * related
   */
  .Project-update__related {
    border-top: 1px solid #d8d8d8;
  }
    .Project-update__related-item {
      border-bottom: 1px solid #d8d8d8;
      padding: 10px;
    }
      .Project-update__related-item-img {
        margin-right: 16px;
      }

    .Project-update__related-item-header {

    }
      .Project-update__related-item-header-date {
        color: $COLOR_WEAK2;
        font-size: 1.1rem;
      }
      .Project-update__related-item-header-h {
        margin-top: 2px;
        min-height: $BASE_LINE_HEIGHT * 2em;
      }
    .Project-update__related-item-body {
    }
    .Project-update__related-item-footer {
      text-align: right;
      margin-top: 4px;
    }

/**
 * cheer
 */
.Project-cheer {
}
  .Project-cheer__comment {
    border-bottom: 1px solid #ebebeb;
    padding: 10px;
  }
    .Project-cheer__comment-img {
      border-radius: 4px;
      overflow: hidden;
      margin-right: 20px;
    }
    .Project-cheer__comment-main {

    }
      .Project-cheer__comment-header {
        color: $COLOR_WEAK2;
        margin-bottom: 8px;
        vertical-align: middle;
      }
        .Project-cheer__comment-name,
        .Project-cheer__comment-date,
        .Project-cheer__comment-support {
          font-size: 1rem;
        }
        .Project-cheer__comment-date {
        }
        .Project-cheer__comment-support {
          color: $COLOR_WEAK2;
          margin-top: 10px;
          text-align: right;
        }
  
  /**
   * more
   */
  .Project-cheer__more {
    padding: 20px 20px 30px;
  }