/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$common_btn_pagetop-name: 'common_btn_pagetop';
$common_btn_pagetop-x: 156px;
$common_btn_pagetop-y: 200px;
$common_btn_pagetop-offset-x: -156px;
$common_btn_pagetop-offset-y: -200px;
$common_btn_pagetop-width: 40px;
$common_btn_pagetop-height: 41px;
$common_btn_pagetop-total-width: 354px;
$common_btn_pagetop-total-height: 336px;
$common_btn_pagetop-image: '../images/common/sprite/base.png';
$common_btn_pagetop: 156px 200px -156px -200px 40px 41px 354px 336px '../images/common/sprite/base.png' 'common_btn_pagetop';
$common_btn_pagetop2-name: 'common_btn_pagetop2';
$common_btn_pagetop2-x: 0px;
$common_btn_pagetop2-y: 296px;
$common_btn_pagetop2-offset-x: 0px;
$common_btn_pagetop2-offset-y: -296px;
$common_btn_pagetop2-width: 62px;
$common_btn_pagetop2-height: 16px;
$common_btn_pagetop2-total-width: 354px;
$common_btn_pagetop2-total-height: 336px;
$common_btn_pagetop2-image: '../images/common/sprite/base.png';
$common_btn_pagetop2: 0px 296px 0px -296px 62px 16px 354px 336px '../images/common/sprite/base.png' 'common_btn_pagetop2';
$common_btn_return-name: 'common_btn_return';
$common_btn_return-x: 84px;
$common_btn_return-y: 96px;
$common_btn_return-offset-x: -84px;
$common_btn_return-offset-y: -96px;
$common_btn_return-width: 80px;
$common_btn_return-height: 34px;
$common_btn_return-total-width: 354px;
$common_btn_return-total-height: 336px;
$common_btn_return-image: '../images/common/sprite/base.png';
$common_btn_return: 84px 96px -84px -96px 80px 34px 354px 336px '../images/common/sprite/base.png' 'common_btn_return';
$common_checkbox-name: 'common_checkbox';
$common_checkbox-x: 24px;
$common_checkbox-y: 316px;
$common_checkbox-offset-x: -24px;
$common_checkbox-offset-y: -316px;
$common_checkbox-width: 20px;
$common_checkbox-height: 20px;
$common_checkbox-total-width: 354px;
$common_checkbox-total-height: 336px;
$common_checkbox-image: '../images/common/sprite/base.png';
$common_checkbox: 24px 316px -24px -316px 20px 20px 354px 336px '../images/common/sprite/base.png' 'common_checkbox';
$common_checkbox_checked-name: 'common_checkbox_checked';
$common_checkbox_checked-x: 0px;
$common_checkbox_checked-y: 316px;
$common_checkbox_checked-offset-x: 0px;
$common_checkbox_checked-offset-y: -316px;
$common_checkbox_checked-width: 20px;
$common_checkbox_checked-height: 20px;
$common_checkbox_checked-total-width: 354px;
$common_checkbox_checked-total-height: 336px;
$common_checkbox_checked-image: '../images/common/sprite/base.png';
$common_checkbox_checked: 0px 316px 0px -316px 20px 20px 354px 336px '../images/common/sprite/base.png' 'common_checkbox_checked';
$common_ci-name: 'common_ci';
$common_ci-x: 0px;
$common_ci-y: 0px;
$common_ci-offset-x: 0px;
$common_ci-offset-y: 0px;
$common_ci-width: 194px;
$common_ci-height: 40px;
$common_ci-total-width: 354px;
$common_ci-total-height: 336px;
$common_ci-image: '../images/common/sprite/base.png';
$common_ci: 0px 0px 0px 0px 194px 40px 354px 336px '../images/common/sprite/base.png' 'common_ci';
$common_icon_about-name: 'common_icon_about';
$common_icon_about-x: 258px;
$common_icon_about-y: 172px;
$common_icon_about-offset-x: -258px;
$common_icon_about-offset-y: -172px;
$common_icon_about-width: 24px;
$common_icon_about-height: 24px;
$common_icon_about-total-width: 354px;
$common_icon_about-total-height: 336px;
$common_icon_about-image: '../images/common/sprite/base.png';
$common_icon_about: 258px 172px -258px -172px 24px 24px 354px 336px '../images/common/sprite/base.png' 'common_icon_about';
$common_icon_achivement-name: 'common_icon_achivement';
$common_icon_achivement-x: 318px;
$common_icon_achivement-y: 192px;
$common_icon_achivement-offset-x: -318px;
$common_icon_achivement-offset-y: -192px;
$common_icon_achivement-width: 28px;
$common_icon_achivement-height: 28px;
$common_icon_achivement-total-width: 354px;
$common_icon_achivement-total-height: 336px;
$common_icon_achivement-image: '../images/common/sprite/base.png';
$common_icon_achivement: 318px 192px -318px -192px 28px 28px 354px 336px '../images/common/sprite/base.png' 'common_icon_achivement';
$common_icon_arrow_r-name: 'common_icon_arrow_r';
$common_icon_arrow_r-x: 346px;
$common_icon_arrow_r-y: 256px;
$common_icon_arrow_r-offset-x: -346px;
$common_icon_arrow_r-offset-y: -256px;
$common_icon_arrow_r-width: 6px;
$common_icon_arrow_r-height: 12px;
$common_icon_arrow_r-total-width: 354px;
$common_icon_arrow_r-total-height: 336px;
$common_icon_arrow_r-image: '../images/common/sprite/base.png';
$common_icon_arrow_r: 346px 256px -346px -256px 6px 12px 354px 336px '../images/common/sprite/base.png' 'common_icon_arrow_r';
$common_icon_arrow_r_2-name: 'common_icon_arrow_r_2';
$common_icon_arrow_r_2-x: 217px;
$common_icon_arrow_r_2-y: 120px;
$common_icon_arrow_r_2-offset-x: -217px;
$common_icon_arrow_r_2-offset-y: -120px;
$common_icon_arrow_r_2-width: 6px;
$common_icon_arrow_r_2-height: 12px;
$common_icon_arrow_r_2-total-width: 354px;
$common_icon_arrow_r_2-total-height: 336px;
$common_icon_arrow_r_2-image: '../images/common/sprite/base.png';
$common_icon_arrow_r_2: 217px 120px -217px -120px 6px 12px 354px 336px '../images/common/sprite/base.png' 'common_icon_arrow_r_2';
$common_icon_fb-name: 'common_icon_fb';
$common_icon_fb-x: 0px;
$common_icon_fb-y: 200px;
$common_icon_fb-offset-x: 0px;
$common_icon_fb-offset-y: -200px;
$common_icon_fb-width: 48px;
$common_icon_fb-height: 48px;
$common_icon_fb-total-width: 354px;
$common_icon_fb-total-height: 336px;
$common_icon_fb-image: '../images/common/sprite/base.png';
$common_icon_fb: 0px 200px 0px -200px 48px 48px 354px 336px '../images/common/sprite/base.png' 'common_icon_fb';
$common_icon_history-name: 'common_icon_history';
$common_icon_history-x: 220px;
$common_icon_history-y: 252px;
$common_icon_history-offset-x: -220px;
$common_icon_history-offset-y: -252px;
$common_icon_history-width: 36px;
$common_icon_history-height: 36px;
$common_icon_history-total-width: 354px;
$common_icon_history-total-height: 336px;
$common_icon_history-image: '../images/common/sprite/base.png';
$common_icon_history: 220px 252px -220px -252px 36px 36px 354px 336px '../images/common/sprite/base.png' 'common_icon_history';
$common_icon_interview-name: 'common_icon_interview';
$common_icon_interview-x: 258px;
$common_icon_interview-y: 60px;
$common_icon_interview-offset-x: -258px;
$common_icon_interview-offset-y: -60px;
$common_icon_interview-width: 56px;
$common_icon_interview-height: 56px;
$common_icon_interview-total-width: 354px;
$common_icon_interview-total-height: 336px;
$common_icon_interview-image: '../images/common/sprite/base.png';
$common_icon_interview: 258px 60px -258px -60px 56px 56px 354px 336px '../images/common/sprite/base.png' 'common_icon_interview';
$common_icon_login-name: 'common_icon_login';
$common_icon_login-x: 44px;
$common_icon_login-y: 252px;
$common_icon_login-offset-x: -44px;
$common_icon_login-offset-y: -252px;
$common_icon_login-width: 40px;
$common_icon_login-height: 40px;
$common_icon_login-total-width: 354px;
$common_icon_login-total-height: 336px;
$common_icon_login-image: '../images/common/sprite/base.png';
$common_icon_login: 44px 252px -44px -252px 40px 40px 354px 336px '../images/common/sprite/base.png' 'common_icon_login';
$common_icon_logout-name: 'common_icon_logout';
$common_icon_logout-x: 260px;
$common_icon_logout-y: 252px;
$common_icon_logout-offset-x: -260px;
$common_icon_logout-offset-y: -252px;
$common_icon_logout-width: 36px;
$common_icon_logout-height: 36px;
$common_icon_logout-total-width: 354px;
$common_icon_logout-total-height: 336px;
$common_icon_logout-image: '../images/common/sprite/base.png';
$common_icon_logout: 260px 252px -260px -252px 36px 36px 354px 336px '../images/common/sprite/base.png' 'common_icon_logout';
$common_icon_mail-name: 'common_icon_mail';
$common_icon_mail-x: 258px;
$common_icon_mail-y: 120px;
$common_icon_mail-offset-x: -258px;
$common_icon_mail-offset-y: -120px;
$common_icon_mail-width: 48px;
$common_icon_mail-height: 48px;
$common_icon_mail-total-width: 354px;
$common_icon_mail-total-height: 336px;
$common_icon_mail-image: '../images/common/sprite/base.png';
$common_icon_mail: 258px 120px -258px -120px 48px 48px 354px 336px '../images/common/sprite/base.png' 'common_icon_mail';
$common_icon_money-name: 'common_icon_money';
$common_icon_money-x: 258px;
$common_icon_money-y: 0px;
$common_icon_money-offset-x: -258px;
$common_icon_money-offset-y: 0px;
$common_icon_money-width: 56px;
$common_icon_money-height: 56px;
$common_icon_money-total-width: 354px;
$common_icon_money-total-height: 336px;
$common_icon_money-image: '../images/common/sprite/base.png';
$common_icon_money: 258px 0px -258px 0px 56px 56px 354px 336px '../images/common/sprite/base.png' 'common_icon_money';
$common_icon_msg-name: 'common_icon_msg';
$common_icon_msg-x: 48px;
$common_icon_msg-y: 316px;
$common_icon_msg-offset-x: -48px;
$common_icon_msg-offset-y: -316px;
$common_icon_msg-width: 18px;
$common_icon_msg-height: 18px;
$common_icon_msg-total-width: 354px;
$common_icon_msg-total-height: 336px;
$common_icon_msg-image: '../images/common/sprite/base.png';
$common_icon_msg: 48px 316px -48px -316px 18px 18px 354px 336px '../images/common/sprite/base.png' 'common_icon_msg';
$common_icon_new-name: 'common_icon_new';
$common_icon_new-x: 180px;
$common_icon_new-y: 140px;
$common_icon_new-offset-x: -180px;
$common_icon_new-offset-y: -140px;
$common_icon_new-width: 56px;
$common_icon_new-height: 56px;
$common_icon_new-total-width: 354px;
$common_icon_new-total-height: 336px;
$common_icon_new-image: '../images/common/sprite/base.png';
$common_icon_new: 180px 140px -180px -140px 56px 56px 354px 336px '../images/common/sprite/base.png' 'common_icon_new';
$common_icon_notachivement-name: 'common_icon_notachivement';
$common_icon_notachivement-x: 318px;
$common_icon_notachivement-y: 224px;
$common_icon_notachivement-offset-x: -318px;
$common_icon_notachivement-offset-y: -224px;
$common_icon_notachivement-width: 28px;
$common_icon_notachivement-height: 28px;
$common_icon_notachivement-total-width: 354px;
$common_icon_notachivement-total-height: 336px;
$common_icon_notachivement-image: '../images/common/sprite/base.png';
$common_icon_notachivement: 318px 224px -318px -224px 28px 28px 354px 336px '../images/common/sprite/base.png' 'common_icon_notachivement';
$common_icon_onepush-name: 'common_icon_onepush';
$common_icon_onepush-x: 120px;
$common_icon_onepush-y: 140px;
$common_icon_onepush-offset-x: -120px;
$common_icon_onepush-offset-y: -140px;
$common_icon_onepush-width: 56px;
$common_icon_onepush-height: 56px;
$common_icon_onepush-total-width: 354px;
$common_icon_onepush-total-height: 336px;
$common_icon_onepush-image: '../images/common/sprite/base.png';
$common_icon_onepush: 120px 140px -120px -140px 56px 56px 354px 336px '../images/common/sprite/base.png' 'common_icon_onepush';
$common_icon_plus-name: 'common_icon_plus';
$common_icon_plus-x: 286px;
$common_icon_plus-y: 172px;
$common_icon_plus-offset-x: -286px;
$common_icon_plus-offset-y: -172px;
$common_icon_plus-width: 24px;
$common_icon_plus-height: 24px;
$common_icon_plus-total-width: 354px;
$common_icon_plus-total-height: 336px;
$common_icon_plus-image: '../images/common/sprite/base.png';
$common_icon_plus: 286px 172px -286px -172px 24px 24px 354px 336px '../images/common/sprite/base.png' 'common_icon_plus';
$common_icon_profile-name: 'common_icon_profile';
$common_icon_profile-x: 318px;
$common_icon_profile-y: 0px;
$common_icon_profile-offset-x: -318px;
$common_icon_profile-offset-y: 0px;
$common_icon_profile-width: 36px;
$common_icon_profile-height: 36px;
$common_icon_profile-total-width: 354px;
$common_icon_profile-total-height: 336px;
$common_icon_profile-image: '../images/common/sprite/base.png';
$common_icon_profile: 318px 0px -318px 0px 36px 36px 354px 336px '../images/common/sprite/base.png' 'common_icon_profile';
$common_icon_ranking-name: 'common_icon_ranking';
$common_icon_ranking-x: 198px;
$common_icon_ranking-y: 60px;
$common_icon_ranking-offset-x: -198px;
$common_icon_ranking-offset-y: -60px;
$common_icon_ranking-width: 56px;
$common_icon_ranking-height: 56px;
$common_icon_ranking-total-width: 354px;
$common_icon_ranking-total-height: 336px;
$common_icon_ranking-image: '../images/common/sprite/base.png';
$common_icon_ranking: 198px 60px -198px -60px 56px 56px 354px 336px '../images/common/sprite/base.png' 'common_icon_ranking';
$common_icon_readyfor-name: 'common_icon_readyfor';
$common_icon_readyfor-x: 60px;
$common_icon_readyfor-y: 140px;
$common_icon_readyfor-offset-x: -60px;
$common_icon_readyfor-offset-y: -140px;
$common_icon_readyfor-width: 56px;
$common_icon_readyfor-height: 56px;
$common_icon_readyfor-total-width: 354px;
$common_icon_readyfor-total-height: 336px;
$common_icon_readyfor-image: '../images/common/sprite/base.png';
$common_icon_readyfor: 60px 140px -60px -140px 56px 56px 354px 336px '../images/common/sprite/base.png' 'common_icon_readyfor';
$common_icon_readyfor2-name: 'common_icon_readyfor2';
$common_icon_readyfor2-x: 176px;
$common_icon_readyfor2-y: 252px;
$common_icon_readyfor2-offset-x: -176px;
$common_icon_readyfor2-offset-y: -252px;
$common_icon_readyfor2-width: 40px;
$common_icon_readyfor2-height: 40px;
$common_icon_readyfor2-total-width: 354px;
$common_icon_readyfor2-total-height: 336px;
$common_icon_readyfor2-image: '../images/common/sprite/base.png';
$common_icon_readyfor2: 176px 252px -176px -252px 40px 40px 354px 336px '../images/common/sprite/base.png' 'common_icon_readyfor2';
$common_icon_readyfor2_active-name: 'common_icon_readyfor2_active';
$common_icon_readyfor2_active-x: 132px;
$common_icon_readyfor2_active-y: 252px;
$common_icon_readyfor2_active-offset-x: -132px;
$common_icon_readyfor2_active-offset-y: -252px;
$common_icon_readyfor2_active-width: 40px;
$common_icon_readyfor2_active-height: 40px;
$common_icon_readyfor2_active-total-width: 354px;
$common_icon_readyfor2_active-total-height: 336px;
$common_icon_readyfor2_active-image: '../images/common/sprite/base.png';
$common_icon_readyfor2_active: 132px 252px -132px -252px 40px 40px 354px 336px '../images/common/sprite/base.png' 'common_icon_readyfor2_active';
$common_icon_return-name: 'common_icon_return';
$common_icon_return-x: 0px;
$common_icon_return-y: 140px;
$common_icon_return-offset-x: 0px;
$common_icon_return-offset-y: -140px;
$common_icon_return-width: 56px;
$common_icon_return-height: 56px;
$common_icon_return-total-width: 354px;
$common_icon_return-total-height: 336px;
$common_icon_return-image: '../images/common/sprite/base.png';
$common_icon_return: 0px 140px 0px -140px 56px 56px 354px 336px '../images/common/sprite/base.png' 'common_icon_return';
$common_icon_search-name: 'common_icon_search';
$common_icon_search-x: 104px;
$common_icon_search-y: 200px;
$common_icon_search-offset-x: -104px;
$common_icon_search-offset-y: -200px;
$common_icon_search-width: 48px;
$common_icon_search-height: 48px;
$common_icon_search-total-width: 354px;
$common_icon_search-total-height: 336px;
$common_icon_search-image: '../images/common/sprite/base.png';
$common_icon_search: 104px 200px -104px -200px 48px 48px 354px 336px '../images/common/sprite/base.png' 'common_icon_search';
$common_icon_search2-name: 'common_icon_search2';
$common_icon_search2-x: 88px;
$common_icon_search2-y: 252px;
$common_icon_search2-offset-x: -88px;
$common_icon_search2-offset-y: -252px;
$common_icon_search2-width: 40px;
$common_icon_search2-height: 40px;
$common_icon_search2-total-width: 354px;
$common_icon_search2-total-height: 336px;
$common_icon_search2-image: '../images/common/sprite/base.png';
$common_icon_search2: 88px 252px -88px -252px 40px 40px 354px 336px '../images/common/sprite/base.png' 'common_icon_search2';
$common_icon_search2_active-name: 'common_icon_search2_active';
$common_icon_search2_active-x: 0px;
$common_icon_search2_active-y: 252px;
$common_icon_search2_active-offset-x: 0px;
$common_icon_search2_active-offset-y: -252px;
$common_icon_search2_active-width: 40px;
$common_icon_search2_active-height: 40px;
$common_icon_search2_active-total-width: 354px;
$common_icon_search2_active-total-height: 336px;
$common_icon_search2_active-image: '../images/common/sprite/base.png';
$common_icon_search2_active: 0px 252px 0px -252px 40px 40px 354px 336px '../images/common/sprite/base.png' 'common_icon_search2_active';
$common_icon_serif_l-name: 'common_icon_serif_l';
$common_icon_serif_l-x: 168px;
$common_icon_serif_l-y: 96px;
$common_icon_serif_l-offset-x: -168px;
$common_icon_serif_l-offset-y: -96px;
$common_icon_serif_l-width: 20px;
$common_icon_serif_l-height: 20px;
$common_icon_serif_l-total-width: 354px;
$common_icon_serif_l-total-height: 336px;
$common_icon_serif_l-image: '../images/common/sprite/base.png';
$common_icon_serif_l: 168px 96px -168px -96px 20px 20px 354px 336px '../images/common/sprite/base.png' 'common_icon_serif_l';
$common_icon_serif_r-name: 'common_icon_serif_r';
$common_icon_serif_r-x: 288px;
$common_icon_serif_r-y: 200px;
$common_icon_serif_r-offset-x: -288px;
$common_icon_serif_r-offset-y: -200px;
$common_icon_serif_r-width: 20px;
$common_icon_serif_r-height: 20px;
$common_icon_serif_r-total-width: 354px;
$common_icon_serif_r-total-height: 336px;
$common_icon_serif_r-image: '../images/common/sprite/base.png';
$common_icon_serif_r: 288px 200px -288px -200px 20px 20px 354px 336px '../images/common/sprite/base.png' 'common_icon_serif_r';
$common_icon_shipment-name: 'common_icon_shipment';
$common_icon_shipment-x: 318px;
$common_icon_shipment-y: 156px;
$common_icon_shipment-offset-x: -318px;
$common_icon_shipment-offset-y: -156px;
$common_icon_shipment-width: 32px;
$common_icon_shipment-height: 32px;
$common_icon_shipment-total-width: 354px;
$common_icon_shipment-total-height: 336px;
$common_icon_shipment-image: '../images/common/sprite/base.png';
$common_icon_shipment: 318px 156px -318px -156px 32px 32px 354px 336px '../images/common/sprite/base.png' 'common_icon_shipment';
$common_icon_signin-name: 'common_icon_signin';
$common_icon_signin-x: 318px;
$common_icon_signin-y: 256px;
$common_icon_signin-offset-x: -318px;
$common_icon_signin-offset-y: -256px;
$common_icon_signin-width: 24px;
$common_icon_signin-height: 24px;
$common_icon_signin-total-width: 354px;
$common_icon_signin-total-height: 336px;
$common_icon_signin-image: '../images/common/sprite/base.png';
$common_icon_signin: 318px 256px -318px -256px 24px 24px 354px 336px '../images/common/sprite/base.png' 'common_icon_signin';
$common_icon_start-name: 'common_icon_start';
$common_icon_start-x: 244px;
$common_icon_start-y: 200px;
$common_icon_start-offset-x: -244px;
$common_icon_start-offset-y: -200px;
$common_icon_start-width: 40px;
$common_icon_start-height: 40px;
$common_icon_start-total-width: 354px;
$common_icon_start-total-height: 336px;
$common_icon_start-image: '../images/common/sprite/base.png';
$common_icon_start: 244px 200px -244px -200px 40px 40px 354px 336px '../images/common/sprite/base.png' 'common_icon_start';
$common_icon_start_active-name: 'common_icon_start_active';
$common_icon_start_active-x: 200px;
$common_icon_start_active-y: 200px;
$common_icon_start_active-offset-x: -200px;
$common_icon_start_active-offset-y: -200px;
$common_icon_start_active-width: 40px;
$common_icon_start_active-height: 40px;
$common_icon_start_active-total-width: 354px;
$common_icon_start_active-total-height: 336px;
$common_icon_start_active-image: '../images/common/sprite/base.png';
$common_icon_start_active: 200px 200px -200px -200px 40px 40px 354px 336px '../images/common/sprite/base.png' 'common_icon_start_active';
$common_icon_success-name: 'common_icon_success';
$common_icon_success-x: 198px;
$common_icon_success-y: 0px;
$common_icon_success-offset-x: -198px;
$common_icon_success-offset-y: 0px;
$common_icon_success-width: 56px;
$common_icon_success-height: 56px;
$common_icon_success-total-width: 354px;
$common_icon_success-total-height: 336px;
$common_icon_success-image: '../images/common/sprite/base.png';
$common_icon_success: 198px 0px -198px 0px 56px 56px 354px 336px '../images/common/sprite/base.png' 'common_icon_success';
$common_icon_supporter-name: 'common_icon_supporter';
$common_icon_supporter-x: 318px;
$common_icon_supporter-y: 120px;
$common_icon_supporter-offset-x: -318px;
$common_icon_supporter-offset-y: -120px;
$common_icon_supporter-width: 32px;
$common_icon_supporter-height: 32px;
$common_icon_supporter-total-width: 354px;
$common_icon_supporter-total-height: 336px;
$common_icon_supporter-image: '../images/common/sprite/base.png';
$common_icon_supporter: 318px 120px -318px -120px 32px 32px 354px 336px '../images/common/sprite/base.png' 'common_icon_supporter';
$common_icon_tag-name: 'common_icon_tag';
$common_icon_tag-x: 198px;
$common_icon_tag-y: 120px;
$common_icon_tag-offset-x: -198px;
$common_icon_tag-offset-y: -120px;
$common_icon_tag-width: 15px;
$common_icon_tag-height: 15px;
$common_icon_tag-total-width: 354px;
$common_icon_tag-total-height: 336px;
$common_icon_tag-image: '../images/common/sprite/base.png';
$common_icon_tag: 198px 120px -198px -120px 15px 15px 354px 336px '../images/common/sprite/base.png' 'common_icon_tag';
$common_icon_tag_2-name: 'common_icon_tag_2';
$common_icon_tag_2-x: 52px;
$common_icon_tag_2-y: 200px;
$common_icon_tag_2-offset-x: -52px;
$common_icon_tag_2-offset-y: -200px;
$common_icon_tag_2-width: 48px;
$common_icon_tag_2-height: 48px;
$common_icon_tag_2-total-width: 354px;
$common_icon_tag_2-total-height: 336px;
$common_icon_tag_2-image: '../images/common/sprite/base.png';
$common_icon_tag_2: 52px 200px -52px -200px 48px 48px 354px 336px '../images/common/sprite/base.png' 'common_icon_tag_2';
$common_icon_watchlist-name: 'common_icon_watchlist';
$common_icon_watchlist-x: 318px;
$common_icon_watchlist-y: 80px;
$common_icon_watchlist-offset-x: -318px;
$common_icon_watchlist-offset-y: -80px;
$common_icon_watchlist-width: 36px;
$common_icon_watchlist-height: 36px;
$common_icon_watchlist-total-width: 354px;
$common_icon_watchlist-total-height: 336px;
$common_icon_watchlist-image: '../images/common/sprite/base.png';
$common_icon_watchlist: 318px 80px -318px -80px 36px 36px 354px 336px '../images/common/sprite/base.png' 'common_icon_watchlist';
$common_icon_watchlist2-name: 'common_icon_watchlist2';
$common_icon_watchlist2-x: 318px;
$common_icon_watchlist2-y: 40px;
$common_icon_watchlist2-offset-x: -318px;
$common_icon_watchlist2-offset-y: -40px;
$common_icon_watchlist2-width: 36px;
$common_icon_watchlist2-height: 36px;
$common_icon_watchlist2-total-width: 354px;
$common_icon_watchlist2-total-height: 336px;
$common_icon_watchlist2-image: '../images/common/sprite/base.png';
$common_icon_watchlist2: 318px 40px -318px -40px 36px 36px 354px 336px '../images/common/sprite/base.png' 'common_icon_watchlist2';
$common_label_challenge-name: 'common_label_challenge';
$common_label_challenge-x: 0px;
$common_label_challenge-y: 44px;
$common_label_challenge-offset-x: 0px;
$common_label_challenge-offset-y: -44px;
$common_label_challenge-width: 100px;
$common_label_challenge-height: 48px;
$common_label_challenge-total-width: 354px;
$common_label_challenge-total-height: 336px;
$common_label_challenge-image: '../images/common/sprite/base.png';
$common_label_challenge: 0px 44px 0px -44px 100px 48px 354px 336px '../images/common/sprite/base.png' 'common_label_challenge';
$common_label_complete-name: 'common_label_complete';
$common_label_complete-x: 0px;
$common_label_complete-y: 96px;
$common_label_complete-offset-x: 0px;
$common_label_complete-offset-y: -96px;
$common_label_complete-width: 80px;
$common_label_complete-height: 40px;
$common_label_complete-total-width: 354px;
$common_label_complete-total-height: 336px;
$common_label_complete-image: '../images/common/sprite/base.png';
$common_label_complete: 0px 96px 0px -96px 80px 40px 354px 336px '../images/common/sprite/base.png' 'common_label_complete';
$common_label_new-name: 'common_label_new';
$common_label_new-x: 104px;
$common_label_new-y: 44px;
$common_label_new-offset-x: -104px;
$common_label_new-offset-y: -44px;
$common_label_new-width: 80px;
$common_label_new-height: 40px;
$common_label_new-total-width: 354px;
$common_label_new-total-height: 336px;
$common_label_new-image: '../images/common/sprite/base.png';
$common_label_new: 104px 44px -104px -44px 80px 40px 354px 336px '../images/common/sprite/base.png' 'common_label_new';
$spritesheet-width: 354px;
$spritesheet-height: 336px;
$spritesheet-image: '../images/common/sprite/base.png';
$spritesheet-sprites: $common_btn_pagetop $common_btn_pagetop2 $common_btn_return $common_checkbox $common_checkbox_checked $common_ci $common_icon_about $common_icon_achivement $common_icon_arrow_r $common_icon_arrow_r_2 $common_icon_fb $common_icon_history $common_icon_interview $common_icon_login $common_icon_logout $common_icon_mail $common_icon_money $common_icon_msg $common_icon_new $common_icon_notachivement $common_icon_onepush $common_icon_plus $common_icon_profile $common_icon_ranking $common_icon_readyfor $common_icon_readyfor2 $common_icon_readyfor2_active $common_icon_return $common_icon_search $common_icon_search2 $common_icon_search2_active $common_icon_serif_l $common_icon_serif_r $common_icon_shipment $common_icon_signin $common_icon_start $common_icon_start_active $common_icon_success $common_icon_supporter $common_icon_tag $common_icon_tag_2 $common_icon_watchlist $common_icon_watchlist2 $common_label_challenge $common_label_complete $common_label_new;
$spritesheet: 354px 336px '../images/common/sprite/base.png' $spritesheet-sprites;

