/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$common_btn_pagetop-name: 'common_btn_pagetop';
$common_btn_pagetop-x: 0px;
$common_btn_pagetop-y: 126px;
$common_btn_pagetop-offset-x: 0px;
$common_btn_pagetop-offset-y: -126px;
$common_btn_pagetop-width: 40px;
$common_btn_pagetop-height: 41px;
$common_btn_pagetop-total-width: 254px;
$common_btn_pagetop-total-height: 223px;
$common_btn_pagetop-image: '../images/common/sprite/base.png';
$common_btn_pagetop: 0px 126px 0px -126px 40px 41px 254px 223px '../images/common/sprite/base.png' 'common_btn_pagetop';
$common_btn_pagetop2-name: 'common_btn_pagetop2';
$common_btn_pagetop2-x: 44px;
$common_btn_pagetop2-y: 126px;
$common_btn_pagetop2-offset-x: -44px;
$common_btn_pagetop2-offset-y: -126px;
$common_btn_pagetop2-width: 62px;
$common_btn_pagetop2-height: 16px;
$common_btn_pagetop2-total-width: 254px;
$common_btn_pagetop2-total-height: 223px;
$common_btn_pagetop2-image: '../images/common/sprite/base.png';
$common_btn_pagetop2: 44px 126px -44px -126px 62px 16px 254px 223px '../images/common/sprite/base.png' 'common_btn_pagetop2';
$common_btn_return-name: 'common_btn_return';
$common_btn_return-x: 0px;
$common_btn_return-y: 88px;
$common_btn_return-offset-x: 0px;
$common_btn_return-offset-y: -88px;
$common_btn_return-width: 80px;
$common_btn_return-height: 34px;
$common_btn_return-total-width: 254px;
$common_btn_return-total-height: 223px;
$common_btn_return-image: '../images/common/sprite/base.png';
$common_btn_return: 0px 88px 0px -88px 80px 34px 254px 223px '../images/common/sprite/base.png' 'common_btn_return';
$common_checkbox-name: 'common_checkbox';
$common_checkbox-x: 48px;
$common_checkbox-y: 203px;
$common_checkbox-offset-x: -48px;
$common_checkbox-offset-y: -203px;
$common_checkbox-width: 20px;
$common_checkbox-height: 20px;
$common_checkbox-total-width: 254px;
$common_checkbox-total-height: 223px;
$common_checkbox-image: '../images/common/sprite/base.png';
$common_checkbox: 48px 203px -48px -203px 20px 20px 254px 223px '../images/common/sprite/base.png' 'common_checkbox';
$common_checkbox_checked-name: 'common_checkbox_checked';
$common_checkbox_checked-x: 172px;
$common_checkbox_checked-y: 88px;
$common_checkbox_checked-offset-x: -172px;
$common_checkbox_checked-offset-y: -88px;
$common_checkbox_checked-width: 20px;
$common_checkbox_checked-height: 20px;
$common_checkbox_checked-total-width: 254px;
$common_checkbox_checked-total-height: 223px;
$common_checkbox_checked-image: '../images/common/sprite/base.png';
$common_checkbox_checked: 172px 88px -172px -88px 20px 20px 254px 223px '../images/common/sprite/base.png' 'common_checkbox_checked';
$common_ci-name: 'common_ci';
$common_ci-x: 0px;
$common_ci-y: 0px;
$common_ci-offset-x: 0px;
$common_ci-offset-y: 0px;
$common_ci-width: 194px;
$common_ci-height: 40px;
$common_ci-total-width: 254px;
$common_ci-total-height: 223px;
$common_ci-image: '../images/common/sprite/base.png';
$common_ci: 0px 0px 0px 0px 194px 40px 254px 223px '../images/common/sprite/base.png' 'common_ci';
$common_icon_about-name: 'common_icon_about';
$common_icon_about-x: 230px;
$common_icon_about-y: 56px;
$common_icon_about-offset-x: -230px;
$common_icon_about-offset-y: -56px;
$common_icon_about-width: 24px;
$common_icon_about-height: 24px;
$common_icon_about-total-width: 254px;
$common_icon_about-total-height: 223px;
$common_icon_about-image: '../images/common/sprite/base.png';
$common_icon_about: 230px 56px -230px -56px 24px 24px 254px 223px '../images/common/sprite/base.png' 'common_icon_about';
$common_icon_achivement-name: 'common_icon_achivement';
$common_icon_achivement-x: 148px;
$common_icon_achivement-y: 44px;
$common_icon_achivement-offset-x: -148px;
$common_icon_achivement-offset-y: -44px;
$common_icon_achivement-width: 28px;
$common_icon_achivement-height: 28px;
$common_icon_achivement-total-width: 254px;
$common_icon_achivement-total-height: 223px;
$common_icon_achivement-image: '../images/common/sprite/base.png';
$common_icon_achivement: 148px 44px -148px -44px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_achivement';
$common_icon_arrow2_l-name: 'common_icon_arrow2_l';
$common_icon_arrow2_l-x: 160px;
$common_icon_arrow2_l-y: 171px;
$common_icon_arrow2_l-offset-x: -160px;
$common_icon_arrow2_l-offset-y: -171px;
$common_icon_arrow2_l-width: 24px;
$common_icon_arrow2_l-height: 24px;
$common_icon_arrow2_l-total-width: 254px;
$common_icon_arrow2_l-total-height: 223px;
$common_icon_arrow2_l-image: '../images/common/sprite/base.png';
$common_icon_arrow2_l: 160px 171px -160px -171px 24px 24px 254px 223px '../images/common/sprite/base.png' 'common_icon_arrow2_l';
$common_icon_arrow2_r-name: 'common_icon_arrow2_r';
$common_icon_arrow2_r-x: 230px;
$common_icon_arrow2_r-y: 112px;
$common_icon_arrow2_r-offset-x: -230px;
$common_icon_arrow2_r-offset-y: -112px;
$common_icon_arrow2_r-width: 24px;
$common_icon_arrow2_r-height: 24px;
$common_icon_arrow2_r-total-width: 254px;
$common_icon_arrow2_r-total-height: 223px;
$common_icon_arrow2_r-image: '../images/common/sprite/base.png';
$common_icon_arrow2_r: 230px 112px -230px -112px 24px 24px 254px 223px '../images/common/sprite/base.png' 'common_icon_arrow2_r';
$common_icon_arrow_r-name: 'common_icon_arrow_r';
$common_icon_arrow_r-x: 180px;
$common_icon_arrow_r-y: 59px;
$common_icon_arrow_r-offset-x: -180px;
$common_icon_arrow_r-offset-y: -59px;
$common_icon_arrow_r-width: 6px;
$common_icon_arrow_r-height: 12px;
$common_icon_arrow_r-total-width: 254px;
$common_icon_arrow_r-total-height: 223px;
$common_icon_arrow_r-image: '../images/common/sprite/base.png';
$common_icon_arrow_r: 180px 59px -180px -59px 6px 12px 254px 223px '../images/common/sprite/base.png' 'common_icon_arrow_r';
$common_icon_arrow_r_2-name: 'common_icon_arrow_r_2';
$common_icon_arrow_r_2-x: 129px;
$common_icon_arrow_r_2-y: 126px;
$common_icon_arrow_r_2-offset-x: -129px;
$common_icon_arrow_r_2-offset-y: -126px;
$common_icon_arrow_r_2-width: 6px;
$common_icon_arrow_r_2-height: 12px;
$common_icon_arrow_r_2-total-width: 254px;
$common_icon_arrow_r_2-total-height: 223px;
$common_icon_arrow_r_2-image: '../images/common/sprite/base.png';
$common_icon_arrow_r_2: 129px 126px -129px -126px 6px 12px 254px 223px '../images/common/sprite/base.png' 'common_icon_arrow_r_2';
$common_icon_fb-name: 'common_icon_fb';
$common_icon_fb-x: 230px;
$common_icon_fb-y: 168px;
$common_icon_fb-offset-x: -230px;
$common_icon_fb-offset-y: -168px;
$common_icon_fb-width: 22px;
$common_icon_fb-height: 22px;
$common_icon_fb-total-width: 254px;
$common_icon_fb-total-height: 223px;
$common_icon_fb-image: '../images/common/sprite/base.png';
$common_icon_fb: 230px 168px -230px -168px 22px 22px 254px 223px '../images/common/sprite/base.png' 'common_icon_fb';
$common_icon_history-name: 'common_icon_history';
$common_icon_history-x: 72px;
$common_icon_history-y: 146px;
$common_icon_history-offset-x: -72px;
$common_icon_history-offset-y: -146px;
$common_icon_history-width: 18px;
$common_icon_history-height: 18px;
$common_icon_history-total-width: 254px;
$common_icon_history-total-height: 223px;
$common_icon_history-image: '../images/common/sprite/base.png';
$common_icon_history: 72px 146px -72px -146px 18px 18px 254px 223px '../images/common/sprite/base.png' 'common_icon_history';
$common_icon_interview-name: 'common_icon_interview';
$common_icon_interview-x: 0px;
$common_icon_interview-y: 171px;
$common_icon_interview-offset-x: 0px;
$common_icon_interview-offset-y: -171px;
$common_icon_interview-width: 28px;
$common_icon_interview-height: 28px;
$common_icon_interview-total-width: 254px;
$common_icon_interview-total-height: 223px;
$common_icon_interview-image: '../images/common/sprite/base.png';
$common_icon_interview: 0px 171px 0px -171px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_interview';
$common_icon_login-name: 'common_icon_login';
$common_icon_login-x: 230px;
$common_icon_login-y: 140px;
$common_icon_login-offset-x: -230px;
$common_icon_login-offset-y: -140px;
$common_icon_login-width: 24px;
$common_icon_login-height: 24px;
$common_icon_login-total-width: 254px;
$common_icon_login-total-height: 223px;
$common_icon_login-image: '../images/common/sprite/base.png';
$common_icon_login: 230px 140px -230px -140px 24px 24px 254px 223px '../images/common/sprite/base.png' 'common_icon_login';
$common_icon_logout-name: 'common_icon_logout';
$common_icon_logout-x: 116px;
$common_icon_logout-y: 146px;
$common_icon_logout-offset-x: -116px;
$common_icon_logout-offset-y: -146px;
$common_icon_logout-width: 18px;
$common_icon_logout-height: 18px;
$common_icon_logout-total-width: 254px;
$common_icon_logout-total-height: 223px;
$common_icon_logout-image: '../images/common/sprite/base.png';
$common_icon_logout: 116px 146px -116px -146px 18px 18px 254px 223px '../images/common/sprite/base.png' 'common_icon_logout';
$common_icon_mail-name: 'common_icon_mail';
$common_icon_mail-x: 44px;
$common_icon_mail-y: 146px;
$common_icon_mail-offset-x: -44px;
$common_icon_mail-offset-y: -146px;
$common_icon_mail-width: 24px;
$common_icon_mail-height: 18px;
$common_icon_mail-total-width: 254px;
$common_icon_mail-total-height: 223px;
$common_icon_mail-image: '../images/common/sprite/base.png';
$common_icon_mail: 44px 146px -44px -146px 24px 18px 254px 223px '../images/common/sprite/base.png' 'common_icon_mail';
$common_icon_money-name: 'common_icon_money';
$common_icon_money-x: 128px;
$common_icon_money-y: 171px;
$common_icon_money-offset-x: -128px;
$common_icon_money-offset-y: -171px;
$common_icon_money-width: 28px;
$common_icon_money-height: 28px;
$common_icon_money-total-width: 254px;
$common_icon_money-total-height: 223px;
$common_icon_money-image: '../images/common/sprite/base.png';
$common_icon_money: 128px 171px -128px -171px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_money';
$common_icon_msg-name: 'common_icon_msg';
$common_icon_msg-x: 94px;
$common_icon_msg-y: 146px;
$common_icon_msg-offset-x: -94px;
$common_icon_msg-offset-y: -146px;
$common_icon_msg-width: 18px;
$common_icon_msg-height: 18px;
$common_icon_msg-total-width: 254px;
$common_icon_msg-total-height: 223px;
$common_icon_msg-image: '../images/common/sprite/base.png';
$common_icon_msg: 94px 146px -94px -146px 18px 18px 254px 223px '../images/common/sprite/base.png' 'common_icon_msg';
$common_icon_new-name: 'common_icon_new';
$common_icon_new-x: 96px;
$common_icon_new-y: 171px;
$common_icon_new-offset-x: -96px;
$common_icon_new-offset-y: -171px;
$common_icon_new-width: 28px;
$common_icon_new-height: 28px;
$common_icon_new-total-width: 254px;
$common_icon_new-total-height: 223px;
$common_icon_new-image: '../images/common/sprite/base.png';
$common_icon_new: 96px 171px -96px -171px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_new';
$common_icon_notachivement-name: 'common_icon_notachivement';
$common_icon_notachivement-x: 198px;
$common_icon_notachivement-y: 32px;
$common_icon_notachivement-offset-x: -198px;
$common_icon_notachivement-offset-y: -32px;
$common_icon_notachivement-width: 28px;
$common_icon_notachivement-height: 28px;
$common_icon_notachivement-total-width: 254px;
$common_icon_notachivement-total-height: 223px;
$common_icon_notachivement-image: '../images/common/sprite/base.png';
$common_icon_notachivement: 198px 32px -198px -32px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_notachivement';
$common_icon_onepush-name: 'common_icon_onepush';
$common_icon_onepush-x: 32px;
$common_icon_onepush-y: 171px;
$common_icon_onepush-offset-x: -32px;
$common_icon_onepush-offset-y: -171px;
$common_icon_onepush-width: 28px;
$common_icon_onepush-height: 28px;
$common_icon_onepush-total-width: 254px;
$common_icon_onepush-total-height: 223px;
$common_icon_onepush-image: '../images/common/sprite/base.png';
$common_icon_onepush: 32px 171px -32px -171px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_onepush';
$common_icon_plus-name: 'common_icon_plus';
$common_icon_plus-x: 180px;
$common_icon_plus-y: 44px;
$common_icon_plus-offset-x: -180px;
$common_icon_plus-offset-y: -44px;
$common_icon_plus-width: 11px;
$common_icon_plus-height: 11px;
$common_icon_plus-total-width: 254px;
$common_icon_plus-total-height: 223px;
$common_icon_plus-image: '../images/common/sprite/base.png';
$common_icon_plus: 180px 44px -180px -44px 11px 11px 254px 223px '../images/common/sprite/base.png' 'common_icon_plus';
$common_icon_profile-name: 'common_icon_profile';
$common_icon_profile-x: 138px;
$common_icon_profile-y: 146px;
$common_icon_profile-offset-x: -138px;
$common_icon_profile-offset-y: -146px;
$common_icon_profile-width: 18px;
$common_icon_profile-height: 18px;
$common_icon_profile-total-width: 254px;
$common_icon_profile-total-height: 223px;
$common_icon_profile-image: '../images/common/sprite/base.png';
$common_icon_profile: 138px 146px -138px -146px 18px 18px 254px 223px '../images/common/sprite/base.png' 'common_icon_profile';
$common_icon_ranking-name: 'common_icon_ranking';
$common_icon_ranking-x: 198px;
$common_icon_ranking-y: 128px;
$common_icon_ranking-offset-x: -198px;
$common_icon_ranking-offset-y: -128px;
$common_icon_ranking-width: 28px;
$common_icon_ranking-height: 28px;
$common_icon_ranking-total-width: 254px;
$common_icon_ranking-total-height: 223px;
$common_icon_ranking-image: '../images/common/sprite/base.png';
$common_icon_ranking: 198px 128px -198px -128px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_ranking';
$common_icon_readyfor-name: 'common_icon_readyfor';
$common_icon_readyfor-x: 198px;
$common_icon_readyfor-y: 96px;
$common_icon_readyfor-offset-x: -198px;
$common_icon_readyfor-offset-y: -96px;
$common_icon_readyfor-width: 28px;
$common_icon_readyfor-height: 28px;
$common_icon_readyfor-total-width: 254px;
$common_icon_readyfor-total-height: 223px;
$common_icon_readyfor-image: '../images/common/sprite/base.png';
$common_icon_readyfor: 198px 96px -198px -96px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_readyfor';
$common_icon_return-name: 'common_icon_return';
$common_icon_return-x: 198px;
$common_icon_return-y: 64px;
$common_icon_return-offset-x: -198px;
$common_icon_return-offset-y: -64px;
$common_icon_return-width: 28px;
$common_icon_return-height: 28px;
$common_icon_return-total-width: 254px;
$common_icon_return-total-height: 223px;
$common_icon_return-image: '../images/common/sprite/base.png';
$common_icon_return: 198px 64px -198px -64px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_return';
$common_icon_ribbon_challenge-name: 'common_icon_ribbon_challenge';
$common_icon_ribbon_challenge-x: 74px;
$common_icon_ribbon_challenge-y: 44px;
$common_icon_ribbon_challenge-offset-x: -74px;
$common_icon_ribbon_challenge-offset-y: -44px;
$common_icon_ribbon_challenge-width: 70px;
$common_icon_ribbon_challenge-height: 40px;
$common_icon_ribbon_challenge-total-width: 254px;
$common_icon_ribbon_challenge-total-height: 223px;
$common_icon_ribbon_challenge-image: '../images/common/sprite/base.png';
$common_icon_ribbon_challenge: 74px 44px -74px -44px 70px 40px 254px 223px '../images/common/sprite/base.png' 'common_icon_ribbon_challenge';
$common_icon_ribbon_complete-name: 'common_icon_ribbon_complete';
$common_icon_ribbon_complete-x: 0px;
$common_icon_ribbon_complete-y: 44px;
$common_icon_ribbon_complete-offset-x: 0px;
$common_icon_ribbon_complete-offset-y: -44px;
$common_icon_ribbon_complete-width: 70px;
$common_icon_ribbon_complete-height: 40px;
$common_icon_ribbon_complete-total-width: 254px;
$common_icon_ribbon_complete-total-height: 223px;
$common_icon_ribbon_complete-image: '../images/common/sprite/base.png';
$common_icon_ribbon_complete: 0px 44px 0px -44px 70px 40px 254px 223px '../images/common/sprite/base.png' 'common_icon_ribbon_complete';
$common_icon_ribbon_new-name: 'common_icon_ribbon_new';
$common_icon_ribbon_new-x: 84px;
$common_icon_ribbon_new-y: 88px;
$common_icon_ribbon_new-offset-x: -84px;
$common_icon_ribbon_new-offset-y: -88px;
$common_icon_ribbon_new-width: 52px;
$common_icon_ribbon_new-height: 30px;
$common_icon_ribbon_new-total-width: 254px;
$common_icon_ribbon_new-total-height: 223px;
$common_icon_ribbon_new-image: '../images/common/sprite/base.png';
$common_icon_ribbon_new: 84px 88px -84px -88px 52px 30px 254px 223px '../images/common/sprite/base.png' 'common_icon_ribbon_new';
$common_icon_search-name: 'common_icon_search';
$common_icon_search-x: 230px;
$common_icon_search-y: 84px;
$common_icon_search-offset-x: -230px;
$common_icon_search-offset-y: -84px;
$common_icon_search-width: 24px;
$common_icon_search-height: 24px;
$common_icon_search-total-width: 254px;
$common_icon_search-total-height: 223px;
$common_icon_search-image: '../images/common/sprite/base.png';
$common_icon_search: 230px 84px -230px -84px 24px 24px 254px 223px '../images/common/sprite/base.png' 'common_icon_search';
$common_icon_serif_l-name: 'common_icon_serif_l';
$common_icon_serif_l-x: 0px;
$common_icon_serif_l-y: 203px;
$common_icon_serif_l-offset-x: 0px;
$common_icon_serif_l-offset-y: -203px;
$common_icon_serif_l-width: 20px;
$common_icon_serif_l-height: 20px;
$common_icon_serif_l-total-width: 254px;
$common_icon_serif_l-total-height: 223px;
$common_icon_serif_l-image: '../images/common/sprite/base.png';
$common_icon_serif_l: 0px 203px 0px -203px 20px 20px 254px 223px '../images/common/sprite/base.png' 'common_icon_serif_l';
$common_icon_serif_r-name: 'common_icon_serif_r';
$common_icon_serif_r-x: 24px;
$common_icon_serif_r-y: 203px;
$common_icon_serif_r-offset-x: -24px;
$common_icon_serif_r-offset-y: -203px;
$common_icon_serif_r-width: 20px;
$common_icon_serif_r-height: 20px;
$common_icon_serif_r-total-width: 254px;
$common_icon_serif_r-total-height: 223px;
$common_icon_serif_r-image: '../images/common/sprite/base.png';
$common_icon_serif_r: 24px 203px -24px -203px 20px 20px 254px 223px '../images/common/sprite/base.png' 'common_icon_serif_r';
$common_icon_shipment-name: 'common_icon_shipment';
$common_icon_shipment-x: 64px;
$common_icon_shipment-y: 171px;
$common_icon_shipment-offset-x: -64px;
$common_icon_shipment-offset-y: -171px;
$common_icon_shipment-width: 28px;
$common_icon_shipment-height: 28px;
$common_icon_shipment-total-width: 254px;
$common_icon_shipment-total-height: 223px;
$common_icon_shipment-image: '../images/common/sprite/base.png';
$common_icon_shipment: 64px 171px -64px -171px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_shipment';
$common_icon_signin-name: 'common_icon_signin';
$common_icon_signin-x: 230px;
$common_icon_signin-y: 28px;
$common_icon_signin-offset-x: -230px;
$common_icon_signin-offset-y: -28px;
$common_icon_signin-width: 24px;
$common_icon_signin-height: 24px;
$common_icon_signin-total-width: 254px;
$common_icon_signin-total-height: 223px;
$common_icon_signin-image: '../images/common/sprite/base.png';
$common_icon_signin: 230px 28px -230px -28px 24px 24px 254px 223px '../images/common/sprite/base.png' 'common_icon_signin';
$common_icon_start-name: 'common_icon_start';
$common_icon_start-x: 188px;
$common_icon_start-y: 171px;
$common_icon_start-offset-x: -188px;
$common_icon_start-offset-y: -171px;
$common_icon_start-width: 24px;
$common_icon_start-height: 24px;
$common_icon_start-total-width: 254px;
$common_icon_start-total-height: 223px;
$common_icon_start-image: '../images/common/sprite/base.png';
$common_icon_start: 188px 171px -188px -171px 24px 24px 254px 223px '../images/common/sprite/base.png' 'common_icon_start';
$common_icon_success-name: 'common_icon_success';
$common_icon_success-x: 198px;
$common_icon_success-y: 0px;
$common_icon_success-offset-x: -198px;
$common_icon_success-offset-y: 0px;
$common_icon_success-width: 28px;
$common_icon_success-height: 28px;
$common_icon_success-total-width: 254px;
$common_icon_success-total-height: 223px;
$common_icon_success-image: '../images/common/sprite/base.png';
$common_icon_success: 198px 0px -198px 0px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_success';
$common_icon_supporter-name: 'common_icon_supporter';
$common_icon_supporter-x: 140px;
$common_icon_supporter-y: 88px;
$common_icon_supporter-offset-x: -140px;
$common_icon_supporter-offset-y: -88px;
$common_icon_supporter-width: 28px;
$common_icon_supporter-height: 28px;
$common_icon_supporter-total-width: 254px;
$common_icon_supporter-total-height: 223px;
$common_icon_supporter-image: '../images/common/sprite/base.png';
$common_icon_supporter: 140px 88px -140px -88px 28px 28px 254px 223px '../images/common/sprite/base.png' 'common_icon_supporter';
$common_icon_tag-name: 'common_icon_tag';
$common_icon_tag-x: 110px;
$common_icon_tag-y: 126px;
$common_icon_tag-offset-x: -110px;
$common_icon_tag-offset-y: -126px;
$common_icon_tag-width: 15px;
$common_icon_tag-height: 15px;
$common_icon_tag-total-width: 254px;
$common_icon_tag-total-height: 223px;
$common_icon_tag-image: '../images/common/sprite/base.png';
$common_icon_tag: 110px 126px -110px -126px 15px 15px 254px 223px '../images/common/sprite/base.png' 'common_icon_tag';
$common_icon_tag_2-name: 'common_icon_tag_2';
$common_icon_tag_2-x: 230px;
$common_icon_tag_2-y: 0px;
$common_icon_tag_2-offset-x: -230px;
$common_icon_tag_2-offset-y: 0px;
$common_icon_tag_2-width: 24px;
$common_icon_tag_2-height: 24px;
$common_icon_tag_2-total-width: 254px;
$common_icon_tag_2-total-height: 223px;
$common_icon_tag_2-image: '../images/common/sprite/base.png';
$common_icon_tag_2: 230px 0px -230px 0px 24px 24px 254px 223px '../images/common/sprite/base.png' 'common_icon_tag_2';
$common_icon_watchlist-name: 'common_icon_watchlist';
$common_icon_watchlist-x: 160px;
$common_icon_watchlist-y: 146px;
$common_icon_watchlist-offset-x: -160px;
$common_icon_watchlist-offset-y: -146px;
$common_icon_watchlist-width: 18px;
$common_icon_watchlist-height: 18px;
$common_icon_watchlist-total-width: 254px;
$common_icon_watchlist-total-height: 223px;
$common_icon_watchlist-image: '../images/common/sprite/base.png';
$common_icon_watchlist: 160px 146px -160px -146px 18px 18px 254px 223px '../images/common/sprite/base.png' 'common_icon_watchlist';
$spritesheet-width: 254px;
$spritesheet-height: 223px;
$spritesheet-image: '../images/common/sprite/base.png';
$spritesheet-sprites: $common_btn_pagetop $common_btn_pagetop2 $common_btn_return $common_checkbox $common_checkbox_checked $common_ci $common_icon_about $common_icon_achivement $common_icon_arrow2_l $common_icon_arrow2_r $common_icon_arrow_r $common_icon_arrow_r_2 $common_icon_fb $common_icon_history $common_icon_interview $common_icon_login $common_icon_logout $common_icon_mail $common_icon_money $common_icon_msg $common_icon_new $common_icon_notachivement $common_icon_onepush $common_icon_plus $common_icon_profile $common_icon_ranking $common_icon_readyfor $common_icon_return $common_icon_ribbon_challenge $common_icon_ribbon_complete $common_icon_ribbon_new $common_icon_search $common_icon_serif_l $common_icon_serif_r $common_icon_shipment $common_icon_signin $common_icon_start $common_icon_success $common_icon_supporter $common_icon_tag $common_icon_tag_2 $common_icon_watchlist;
$spritesheet: 254px 223px '../images/common/sprite/base.png' $spritesheet-sprites;

