/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$common_icon_about-name: 'common_icon_about';
$common_icon_about-x: 120px;
$common_icon_about-y: 160px;
$common_icon_about-offset-x: -120px;
$common_icon_about-offset-y: -160px;
$common_icon_about-width: 24px;
$common_icon_about-height: 24px;
$common_icon_about-total-width: 226px;
$common_icon_about-total-height: 207px;
$common_icon_about-image: '../images/common/sprite/base.png';
$common_icon_about: 120px 160px -120px -160px 24px 24px 226px 207px '../images/common/sprite/base.png' 'common_icon_about';
$common_icon_arrow2_l-name: 'common_icon_arrow2_l';
$common_icon_arrow2_l-x: 64px;
$common_icon_arrow2_l-y: 160px;
$common_icon_arrow2_l-offset-x: -64px;
$common_icon_arrow2_l-offset-y: -160px;
$common_icon_arrow2_l-width: 24px;
$common_icon_arrow2_l-height: 24px;
$common_icon_arrow2_l-total-width: 226px;
$common_icon_arrow2_l-total-height: 207px;
$common_icon_arrow2_l-image: '../images/common/sprite/base.png';
$common_icon_arrow2_l: 64px 160px -64px -160px 24px 24px 226px 207px '../images/common/sprite/base.png' 'common_icon_arrow2_l';
$common_icon_arrow2_r-name: 'common_icon_arrow2_r';
$common_icon_arrow2_r-x: 202px;
$common_icon_arrow2_r-y: 56px;
$common_icon_arrow2_r-offset-x: -202px;
$common_icon_arrow2_r-offset-y: -56px;
$common_icon_arrow2_r-width: 24px;
$common_icon_arrow2_r-height: 24px;
$common_icon_arrow2_r-total-width: 226px;
$common_icon_arrow2_r-total-height: 207px;
$common_icon_arrow2_r-image: '../images/common/sprite/base.png';
$common_icon_arrow2_r: 202px 56px -202px -56px 24px 24px 226px 207px '../images/common/sprite/base.png' 'common_icon_arrow2_r';
$common_icon_arrow_r-name: 'common_icon_arrow_r';
$common_icon_arrow_r-x: 184px;
$common_icon_arrow_r-y: 104px;
$common_icon_arrow_r-offset-x: -184px;
$common_icon_arrow_r-offset-y: -104px;
$common_icon_arrow_r-width: 6px;
$common_icon_arrow_r-height: 12px;
$common_icon_arrow_r-total-width: 226px;
$common_icon_arrow_r-total-height: 207px;
$common_icon_arrow_r-image: '../images/common/sprite/base.png';
$common_icon_arrow_r: 184px 104px -184px -104px 6px 12px 226px 207px '../images/common/sprite/base.png' 'common_icon_arrow_r';
$common_icon_arrow_r_2-name: 'common_icon_arrow_r_2';
$common_icon_arrow_r_2-x: 184px;
$common_icon_arrow_r_2-y: 88px;
$common_icon_arrow_r_2-offset-x: -184px;
$common_icon_arrow_r_2-offset-y: -88px;
$common_icon_arrow_r_2-width: 6px;
$common_icon_arrow_r_2-height: 12px;
$common_icon_arrow_r_2-total-width: 226px;
$common_icon_arrow_r_2-total-height: 207px;
$common_icon_arrow_r_2-image: '../images/common/sprite/base.png';
$common_icon_arrow_r_2: 184px 88px -184px -88px 6px 12px 226px 207px '../images/common/sprite/base.png' 'common_icon_arrow_r_2';
$common_icon_default_blue-name: 'common_icon_default_blue';
$common_icon_default_blue-x: 0px;
$common_icon_default_blue-y: 0px;
$common_icon_default_blue-offset-x: 0px;
$common_icon_default_blue-offset-y: 0px;
$common_icon_default_blue-width: 60px;
$common_icon_default_blue-height: 60px;
$common_icon_default_blue-total-width: 226px;
$common_icon_default_blue-total-height: 207px;
$common_icon_default_blue-image: '../images/common/sprite/base.png';
$common_icon_default_blue: 0px 0px 0px 0px 60px 60px 226px 207px '../images/common/sprite/base.png' 'common_icon_default_blue';
$common_icon_default_green-name: 'common_icon_default_green';
$common_icon_default_green-x: 64px;
$common_icon_default_green-y: 0px;
$common_icon_default_green-offset-x: -64px;
$common_icon_default_green-offset-y: 0px;
$common_icon_default_green-width: 60px;
$common_icon_default_green-height: 60px;
$common_icon_default_green-total-width: 226px;
$common_icon_default_green-total-height: 207px;
$common_icon_default_green-image: '../images/common/sprite/base.png';
$common_icon_default_green: 64px 0px -64px 0px 60px 60px 226px 207px '../images/common/sprite/base.png' 'common_icon_default_green';
$common_icon_default_pink-name: 'common_icon_default_pink';
$common_icon_default_pink-x: 0px;
$common_icon_default_pink-y: 64px;
$common_icon_default_pink-offset-x: 0px;
$common_icon_default_pink-offset-y: -64px;
$common_icon_default_pink-width: 60px;
$common_icon_default_pink-height: 60px;
$common_icon_default_pink-total-width: 226px;
$common_icon_default_pink-total-height: 207px;
$common_icon_default_pink-image: '../images/common/sprite/base.png';
$common_icon_default_pink: 0px 64px 0px -64px 60px 60px 226px 207px '../images/common/sprite/base.png' 'common_icon_default_pink';
$common_icon_default_yellow-name: 'common_icon_default_yellow';
$common_icon_default_yellow-x: 64px;
$common_icon_default_yellow-y: 64px;
$common_icon_default_yellow-offset-x: -64px;
$common_icon_default_yellow-offset-y: -64px;
$common_icon_default_yellow-width: 60px;
$common_icon_default_yellow-height: 60px;
$common_icon_default_yellow-total-width: 226px;
$common_icon_default_yellow-total-height: 207px;
$common_icon_default_yellow-image: '../images/common/sprite/base.png';
$common_icon_default_yellow: 64px 64px -64px -64px 60px 60px 226px 207px '../images/common/sprite/base.png' 'common_icon_default_yellow';
$common_icon_fb-name: 'common_icon_fb';
$common_icon_fb-x: 202px;
$common_icon_fb-y: 112px;
$common_icon_fb-offset-x: -202px;
$common_icon_fb-offset-y: -112px;
$common_icon_fb-width: 22px;
$common_icon_fb-height: 22px;
$common_icon_fb-total-width: 226px;
$common_icon_fb-total-height: 207px;
$common_icon_fb-image: '../images/common/sprite/base.png';
$common_icon_fb: 202px 112px -202px -112px 22px 22px 226px 207px '../images/common/sprite/base.png' 'common_icon_fb';
$common_icon_interview-name: 'common_icon_interview';
$common_icon_interview-x: 0px;
$common_icon_interview-y: 160px;
$common_icon_interview-offset-x: 0px;
$common_icon_interview-offset-y: -160px;
$common_icon_interview-width: 28px;
$common_icon_interview-height: 28px;
$common_icon_interview-total-width: 226px;
$common_icon_interview-total-height: 207px;
$common_icon_interview-image: '../images/common/sprite/base.png';
$common_icon_interview: 0px 160px 0px -160px 28px 28px 226px 207px '../images/common/sprite/base.png' 'common_icon_interview';
$common_icon_login-name: 'common_icon_login';
$common_icon_login-x: 148px;
$common_icon_login-y: 160px;
$common_icon_login-offset-x: -148px;
$common_icon_login-offset-y: -160px;
$common_icon_login-width: 24px;
$common_icon_login-height: 24px;
$common_icon_login-total-width: 226px;
$common_icon_login-total-height: 207px;
$common_icon_login-image: '../images/common/sprite/base.png';
$common_icon_login: 148px 160px -148px -160px 24px 24px 226px 207px '../images/common/sprite/base.png' 'common_icon_login';
$common_icon_mail-name: 'common_icon_mail';
$common_icon_mail-x: 202px;
$common_icon_mail-y: 138px;
$common_icon_mail-offset-x: -202px;
$common_icon_mail-offset-y: -138px;
$common_icon_mail-width: 24px;
$common_icon_mail-height: 18px;
$common_icon_mail-total-width: 226px;
$common_icon_mail-total-height: 207px;
$common_icon_mail-image: '../images/common/sprite/base.png';
$common_icon_mail: 202px 138px -202px -138px 24px 18px 226px 207px '../images/common/sprite/base.png' 'common_icon_mail';
$common_icon_money-name: 'common_icon_money';
$common_icon_money-x: 32px;
$common_icon_money-y: 160px;
$common_icon_money-offset-x: -32px;
$common_icon_money-offset-y: -160px;
$common_icon_money-width: 28px;
$common_icon_money-height: 28px;
$common_icon_money-total-width: 226px;
$common_icon_money-total-height: 207px;
$common_icon_money-image: '../images/common/sprite/base.png';
$common_icon_money: 32px 160px -32px -160px 28px 28px 226px 207px '../images/common/sprite/base.png' 'common_icon_money';
$common_icon_new-name: 'common_icon_new';
$common_icon_new-x: 32px;
$common_icon_new-y: 128px;
$common_icon_new-offset-x: -32px;
$common_icon_new-offset-y: -128px;
$common_icon_new-width: 28px;
$common_icon_new-height: 28px;
$common_icon_new-total-width: 226px;
$common_icon_new-total-height: 207px;
$common_icon_new-image: '../images/common/sprite/base.png';
$common_icon_new: 32px 128px -32px -128px 28px 28px 226px 207px '../images/common/sprite/base.png' 'common_icon_new';
$common_icon_onepush-name: 'common_icon_onepush';
$common_icon_onepush-x: 160px;
$common_icon_onepush-y: 128px;
$common_icon_onepush-offset-x: -160px;
$common_icon_onepush-offset-y: -128px;
$common_icon_onepush-width: 28px;
$common_icon_onepush-height: 28px;
$common_icon_onepush-total-width: 226px;
$common_icon_onepush-total-height: 207px;
$common_icon_onepush-image: '../images/common/sprite/base.png';
$common_icon_onepush: 160px 128px -160px -128px 28px 28px 226px 207px '../images/common/sprite/base.png' 'common_icon_onepush';
$common_icon_ranking-name: 'common_icon_ranking';
$common_icon_ranking-x: 64px;
$common_icon_ranking-y: 128px;
$common_icon_ranking-offset-x: -64px;
$common_icon_ranking-offset-y: -128px;
$common_icon_ranking-width: 28px;
$common_icon_ranking-height: 28px;
$common_icon_ranking-total-width: 226px;
$common_icon_ranking-total-height: 207px;
$common_icon_ranking-image: '../images/common/sprite/base.png';
$common_icon_ranking: 64px 128px -64px -128px 28px 28px 226px 207px '../images/common/sprite/base.png' 'common_icon_ranking';
$common_icon_readyfor-name: 'common_icon_readyfor';
$common_icon_readyfor-x: 96px;
$common_icon_readyfor-y: 128px;
$common_icon_readyfor-offset-x: -96px;
$common_icon_readyfor-offset-y: -128px;
$common_icon_readyfor-width: 28px;
$common_icon_readyfor-height: 28px;
$common_icon_readyfor-total-width: 226px;
$common_icon_readyfor-total-height: 207px;
$common_icon_readyfor-image: '../images/common/sprite/base.png';
$common_icon_readyfor: 96px 128px -96px -128px 28px 28px 226px 207px '../images/common/sprite/base.png' 'common_icon_readyfor';
$common_icon_return-name: 'common_icon_return';
$common_icon_return-x: 128px;
$common_icon_return-y: 128px;
$common_icon_return-offset-x: -128px;
$common_icon_return-offset-y: -128px;
$common_icon_return-width: 28px;
$common_icon_return-height: 28px;
$common_icon_return-total-width: 226px;
$common_icon_return-total-height: 207px;
$common_icon_return-image: '../images/common/sprite/base.png';
$common_icon_return: 128px 128px -128px -128px 28px 28px 226px 207px '../images/common/sprite/base.png' 'common_icon_return';
$common_icon_ribbon_challenge-name: 'common_icon_ribbon_challenge';
$common_icon_ribbon_challenge-x: 128px;
$common_icon_ribbon_challenge-y: 0px;
$common_icon_ribbon_challenge-offset-x: -128px;
$common_icon_ribbon_challenge-offset-y: 0px;
$common_icon_ribbon_challenge-width: 70px;
$common_icon_ribbon_challenge-height: 40px;
$common_icon_ribbon_challenge-total-width: 226px;
$common_icon_ribbon_challenge-total-height: 207px;
$common_icon_ribbon_challenge-image: '../images/common/sprite/base.png';
$common_icon_ribbon_challenge: 128px 0px -128px 0px 70px 40px 226px 207px '../images/common/sprite/base.png' 'common_icon_ribbon_challenge';
$common_icon_ribbon_complete-name: 'common_icon_ribbon_complete';
$common_icon_ribbon_complete-x: 128px;
$common_icon_ribbon_complete-y: 44px;
$common_icon_ribbon_complete-offset-x: -128px;
$common_icon_ribbon_complete-offset-y: -44px;
$common_icon_ribbon_complete-width: 70px;
$common_icon_ribbon_complete-height: 40px;
$common_icon_ribbon_complete-total-width: 226px;
$common_icon_ribbon_complete-total-height: 207px;
$common_icon_ribbon_complete-image: '../images/common/sprite/base.png';
$common_icon_ribbon_complete: 128px 44px -128px -44px 70px 40px 226px 207px '../images/common/sprite/base.png' 'common_icon_ribbon_complete';
$common_icon_ribbon_new-name: 'common_icon_ribbon_new';
$common_icon_ribbon_new-x: 128px;
$common_icon_ribbon_new-y: 88px;
$common_icon_ribbon_new-offset-x: -128px;
$common_icon_ribbon_new-offset-y: -88px;
$common_icon_ribbon_new-width: 52px;
$common_icon_ribbon_new-height: 30px;
$common_icon_ribbon_new-total-width: 226px;
$common_icon_ribbon_new-total-height: 207px;
$common_icon_ribbon_new-image: '../images/common/sprite/base.png';
$common_icon_ribbon_new: 128px 88px -128px -88px 52px 30px 226px 207px '../images/common/sprite/base.png' 'common_icon_ribbon_new';
$common_icon_search-name: 'common_icon_search';
$common_icon_search-x: 202px;
$common_icon_search-y: 0px;
$common_icon_search-offset-x: -202px;
$common_icon_search-offset-y: 0px;
$common_icon_search-width: 24px;
$common_icon_search-height: 24px;
$common_icon_search-total-width: 226px;
$common_icon_search-total-height: 207px;
$common_icon_search-image: '../images/common/sprite/base.png';
$common_icon_search: 202px 0px -202px 0px 24px 24px 226px 207px '../images/common/sprite/base.png' 'common_icon_search';
$common_icon_serif_l-name: 'common_icon_serif_l';
$common_icon_serif_l-x: 202px;
$common_icon_serif_l-y: 160px;
$common_icon_serif_l-offset-x: -202px;
$common_icon_serif_l-offset-y: -160px;
$common_icon_serif_l-width: 20px;
$common_icon_serif_l-height: 20px;
$common_icon_serif_l-total-width: 226px;
$common_icon_serif_l-total-height: 207px;
$common_icon_serif_l-image: '../images/common/sprite/base.png';
$common_icon_serif_l: 202px 160px -202px -160px 20px 20px 226px 207px '../images/common/sprite/base.png' 'common_icon_serif_l';
$common_icon_serif_r-name: 'common_icon_serif_r';
$common_icon_serif_r-x: 176px;
$common_icon_serif_r-y: 160px;
$common_icon_serif_r-offset-x: -176px;
$common_icon_serif_r-offset-y: -160px;
$common_icon_serif_r-width: 20px;
$common_icon_serif_r-height: 20px;
$common_icon_serif_r-total-width: 226px;
$common_icon_serif_r-total-height: 207px;
$common_icon_serif_r-image: '../images/common/sprite/base.png';
$common_icon_serif_r: 176px 160px -176px -160px 20px 20px 226px 207px '../images/common/sprite/base.png' 'common_icon_serif_r';
$common_icon_signin-name: 'common_icon_signin';
$common_icon_signin-x: 92px;
$common_icon_signin-y: 160px;
$common_icon_signin-offset-x: -92px;
$common_icon_signin-offset-y: -160px;
$common_icon_signin-width: 24px;
$common_icon_signin-height: 24px;
$common_icon_signin-total-width: 226px;
$common_icon_signin-total-height: 207px;
$common_icon_signin-image: '../images/common/sprite/base.png';
$common_icon_signin: 92px 160px -92px -160px 24px 24px 226px 207px '../images/common/sprite/base.png' 'common_icon_signin';
$common_icon_start-name: 'common_icon_start';
$common_icon_start-x: 202px;
$common_icon_start-y: 28px;
$common_icon_start-offset-x: -202px;
$common_icon_start-offset-y: -28px;
$common_icon_start-width: 24px;
$common_icon_start-height: 24px;
$common_icon_start-total-width: 226px;
$common_icon_start-total-height: 207px;
$common_icon_start-image: '../images/common/sprite/base.png';
$common_icon_start: 202px 28px -202px -28px 24px 24px 226px 207px '../images/common/sprite/base.png' 'common_icon_start';
$common_icon_success-name: 'common_icon_success';
$common_icon_success-x: 0px;
$common_icon_success-y: 128px;
$common_icon_success-offset-x: 0px;
$common_icon_success-offset-y: -128px;
$common_icon_success-width: 28px;
$common_icon_success-height: 28px;
$common_icon_success-total-width: 226px;
$common_icon_success-total-height: 207px;
$common_icon_success-image: '../images/common/sprite/base.png';
$common_icon_success: 0px 128px 0px -128px 28px 28px 226px 207px '../images/common/sprite/base.png' 'common_icon_success';
$common_icon_tag-name: 'common_icon_tag';
$common_icon_tag-x: 0px;
$common_icon_tag-y: 192px;
$common_icon_tag-offset-x: 0px;
$common_icon_tag-offset-y: -192px;
$common_icon_tag-width: 15px;
$common_icon_tag-height: 15px;
$common_icon_tag-total-width: 226px;
$common_icon_tag-total-height: 207px;
$common_icon_tag-image: '../images/common/sprite/base.png';
$common_icon_tag: 0px 192px 0px -192px 15px 15px 226px 207px '../images/common/sprite/base.png' 'common_icon_tag';
$common_icon_tag_2-name: 'common_icon_tag_2';
$common_icon_tag_2-x: 202px;
$common_icon_tag_2-y: 84px;
$common_icon_tag_2-offset-x: -202px;
$common_icon_tag_2-offset-y: -84px;
$common_icon_tag_2-width: 24px;
$common_icon_tag_2-height: 24px;
$common_icon_tag_2-total-width: 226px;
$common_icon_tag_2-total-height: 207px;
$common_icon_tag_2-image: '../images/common/sprite/base.png';
$common_icon_tag_2: 202px 84px -202px -84px 24px 24px 226px 207px '../images/common/sprite/base.png' 'common_icon_tag_2';
$spritesheet-width: 226px;
$spritesheet-height: 207px;
$spritesheet-image: '../images/common/sprite/base.png';
$spritesheet-sprites: $common_icon_about $common_icon_arrow2_l $common_icon_arrow2_r $common_icon_arrow_r $common_icon_arrow_r_2 $common_icon_default_blue $common_icon_default_green $common_icon_default_pink $common_icon_default_yellow $common_icon_fb $common_icon_interview $common_icon_login $common_icon_mail $common_icon_money $common_icon_new $common_icon_onepush $common_icon_ranking $common_icon_readyfor $common_icon_return $common_icon_ribbon_challenge $common_icon_ribbon_complete $common_icon_ribbon_new $common_icon_search $common_icon_serif_l $common_icon_serif_r $common_icon_signin $common_icon_start $common_icon_success $common_icon_tag $common_icon_tag_2;
$spritesheet: 226px 207px '../images/common/sprite/base.png' $spritesheet-sprites;

