@charset "UTF-8";

/* ==========================================================================
   Button
   ========================================================================== */

%Btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
}

/**
 * もっと見る系
 */
.Btn-0 {
  @extend %Btn;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  width: 160px;
  height: 38px;

  &.is-l {
    min-width: 260px;
  }
}
  .Btn-0__inner {
    display: table;
    height: inherit;
    width: 100%;
    /*
    padding-left: 28px;
    padding-right: 28px;
    */
  }
    .Btn-0__content {
      display: table-cell;
      vertical-align: middle;
      height: inherit;
      text-align: center;
      white-space: nowrap;
    }
      .Btn-0__txt {
        color: #ff881a;
        font-size: 16px;
        vertical-align: middle;
      }
      .Btn-0__icon {
        margin-left: 18px;
      }

/**
 * 赤グラデ
 */
.Btn-1 {
  @extend %Btn;
  background-color: #ec0d17;
  background-image: linear-gradient(to bottom, #ff555d, #ec0d17);
  border-radius: 6px;
  height: 60px;
  width: 400px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  line-height: 1;

  &:hover {
    text-decoration: none;
  }
  &.is-h_l {
    height: 80px;
  }
  &.is-no-shadow {
    box-shadow: none;
  }
}
  .Btn-1__inner {
    display: table;
    height: inherit;
    width: 100%;
  }
    .Btn-1__content {
      color: #fff;
      font-size: 22px;
      font-weight: bold;
      display: table-cell;
      vertical-align: middle;
      height: inherit;
      text-align: center;
    }
    .Btn-1__txt {
     /* font-weight: bold;
      font-size: 22px;*/
      vertical-align: middle;
    }

/**
 * Signin, Login系
 */
.Btn-2 {
  @extend %Btn;
  border-radius: 6px;
  height: 40px;
  width: 320px;
  line-height: 1;

  &.is-blue {
    background-color: #47629c;
  }
  &.is-red {
    background-color: #e00314;
  }
}
  .Btn-2__inner {
    display: table;
    height: inherit;
    width: 100%;
  }
    .Btn-2__content {
      color: #fff;
      font-size: 16px;
      display: table-cell;
      vertical-align: middle;
      height: inherit;
      text-align: center;
    }
    .Btn-2__txt {
      vertical-align: middle;
    }
    .Btn-2__icon {
      margin-right: 14px;
    }

/**
 * btns
 */
.Btn-group {
  width: 100%;
}
  .Btn-group__item {
    display: inline-block;

    + .Btn-group__item {
      margin-left: 100px;
    }
  }