@charset "UTF-8";

/* ==========================================================================
   Common
   ========================================================================== */

/* Mixin
   ----------------------------------------------------------------- */

/**
 * 基本コンテナ
 */
@mixin container() {
  width: $PAGE_WIDTH;
  margin-left: auto;
  margin-right: auto;
}

/**
 * テキストを$wordNum行で隠す
 * @param $line-height 行間
 * @param $wordNum 文字数
 */
@mixin hideText($line-height, $wordNum) {
  height: $line-height * $wordNum;
  overflow: hidden;
}

/**
 * clearfix
 */
@mixin clrfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/* Utitlity
   ----------------------------------------------------------------- */

th {
  text-align: left;
}

.u-fit {//u-fit-imgに変更
  width: 100%;
  height: auto;
}
.u-fit-w {
  width: 100%;
}

.u-link {
  color: #ff881a;
}

.u-link-area {
  color: inherit;
  display: block;

  &:hover {
    text-decoration: none;
  }
}

/**
 * font-size
 */
.u-fs_29 { font-size: 29px !important; }
.u-fs_24 { font-size: 24px !important; }
.u-fs_22 { font-size: 22px !important; }
.u-fs_20 { font-size: 20px !important; }
.u-fs_18 { font-size: 18px !important; }
.u-fs_16 { font-size: 16px !important; }
.u-fs_14 { font-size: 14px !important; }
.u-fs_12 { font-size: 12px !important; }

/**
 * margin
 */
.u-mt_60 { margin-top: 50px !important;}
.u-mb_60 { margin-bottom: 50px !important;}

.u-mt_50 { margin-top: 50px !important;}
.u-mb_50 { margin-bottom: 50px !important;}

.u-mt_40 { margin-top: 40px !important;}
.u-mb_40 { margin-bottom: 40px !important;}

.u-mt_30 { margin-top: 30px !important;}
.u-mr_30 { margin-right: 30px !important;}
.u-mb_30 { margin-bottom: 30px !important;}
.u-ml_30 { margin-left: 30px !important;}

.u-mt_25 { margin-top: 25px !important;}
.u-mr_25 { margin-right: 25px !important; }
.u-mb_25 { margin-bottom: 25px !important;}
.u-ml_25 { margin-left: 25px !important; }

.u-mt_20 { margin-top: 20px !important;}
.u-mr_20 { margin-right: 20px !important; }
.u-mb_20 { margin-bottom: 20px !important;}
.u-ml_20 { margin-left: 20px !important; }

.u-mt_14 { margin-top: 14px !important; }
.u-mr_14 { margin-right: 14px !important; }
.u-mb_14 { margin-bottom: 14px !important; }
.u-ml_14 { margin-left: 14px !important; }

.u-mt_10 { margin-top: 10px !important; }
.u-mr_10 { margin-right: 10px !important; }
.u-mb_10 { margin-bottom: 10px !important; }
.u-ml_10 { margin-left: 10px !important; }

.u-mt_5 { margin-top: 5px !important; }
.u-mr_5 { margin-right: 5px !important; }
.u-mb_5 { margin-bottom: 5px !important; }
.u-ml_5 { margin-left: 5px !important; }

.u-mt_3 { margin-top: 3px !important; }
.u-mr_3 { margin-right: 3px !important; }
.u-mb_3 { margin-bottom: 3px !important; }
.u-ml_3 { margin-left: 3px !important; }


/* Component
   ----------------------------------------------------------------- */

a {
  color: #ff881a;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

label {
  cursor: pointer;
}

.Site-container {
  color: $COLOR_BASE;
  font-size: 12px;
  font-family: $DEVICE_FONT_JP;
  line-height: $BASE_LINE_HEIGHT;
  min-width: $MIN_PAGE_WIDTH;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 111px;
}

.Page-body {
  padding-bottom: 50px;
  @include clrfix();
}

.Container {
  @include container();
  @include clrfix();
}

/**
 * Header
 */
.Header {
  margin-bottom: 20px;
  line-height: 1;
  @include clrfix();
}
  .Header__misc {
    overflow: hidden;
  }

.Header-1 {
  overflow: hidden;
  line-height: 1;
}

/**
 * Heading
 */
.Heading {
  color: #4d4d4d;
  font-size: 20px;
  font-weight: bold;
  float: left;
  line-height: 1.9;/* 38px */
}
  .Heading__txt {
  }

.Heading.is-s {/* @FIX_ME */
  font-size: 16px;
}

.Heading-1 {
  background: #fff linear-gradient(to bottom, #fff, #f5f5f5) repeat-x;
  border-top: 2px solid #e60013;
  color: $COLOR_BASE;
  font-size: 28px;
  height: 90px;
  text-align: center;
  line-height: 90px;
}

/**
 * Media
 */
.Media {
  @include clrfix();
}
  .Media__img {
    float: left;
  }
  .Media__body {
    overflow: hidden;
  }


