@charset "UTF-8";

/* ==========================================================================
   Common
   ========================================================================== */

/* Mixin
   ----------------------------------------------------------------- */

/**
 * 基本コンテナ
 */
@mixin container() {
  width: $PAGE_WIDTH;
  margin-left: auto;
  margin-right: auto;
}

/**
 * テキストを$wordNum行で隠す
 * @param $line-height 行間
 * @param $wordNum 文字数
 */
@mixin hideText($line-height, $wordNum) {
  height: $line-height * $wordNum;
  overflow: hidden;
}

/**
 * clearfix
 */
@mixin clrfix() {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

/* Basement
   ----------------------------------------------------------------- */

a {
  color: #ff881a;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

label {
  cursor: pointer;
}

th {
  text-align: left;
}


/* Component
   ----------------------------------------------------------------- */

.Site-container {
  color: $COLOR_BASE;
  font-size: 12px;
  font-family: $DEVICE_FONT_JP;
  line-height: $BASE_LINE_HEIGHT;
  min-width: $MIN_PAGE_WIDTH;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 111px;
}

/**
 * body
 */
.Page-body {
  padding-bottom: 50px;
  @include clrfix();
}

/**
 * main
 */
.Page-main {
  float: right;
  width: 742px;

  &.is-type0 {
    width: 610px;
  }

}
  .Page-h {/* @FIX_ME これ微妙 */
    font-size: 20px;
    /*color: #444;*/
    line-height: 34px;
  }

/**
 * Container
 */
.Container {
  @include container();
  @include clrfix();
}

/**
 * Header
 */
.Header {
  margin-bottom: 20px;
  line-height: 1;
  @include clrfix();
}
  .Header__misc {
    overflow: hidden;
  }

.Header-1 {
  overflow: hidden;
  line-height: 1;
}

/**
 * Heading
 */
.Heading {
  color: #4d4d4d;
  font-size: 20px;
  font-weight: bold;
  float: left;
  line-height: 1.9;/* 38px */
}
  .Heading__txt {
  }

.Heading.is-s {/* @FIX_ME */
  font-size: 16px;
}

.Heading-1 {
  background: #fff linear-gradient(to bottom, #fff, #f5f5f5) repeat-x;
  border-top: 2px solid $COLOR_FOCUS;
  color: $COLOR_BASE;
  font-size: 28px;
  height: 90px;
  text-align: center;
  line-height: 90px;
}

/**
 * Media
 */
.Media {
  @include clrfix();
}
  .Media__img {
    float: left;
  }
  .Media__body {
    overflow: hidden;
  }

/**
 * Media
 */
.Media-1 {
  display: table;
  width: 100%;
  table-layout: fixed;
}
  .Media-1__img {
    display: table-cell;
  }
  .Media-1__body {
    display: table-cell;
    vertical-align: middle;
  }

/**
 * Site-scroller
 */
.Site-scroller {
}
  .Site-scroller__main {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-bottom: 3px solid #ebebeb;
    border-radius: 6px;
    overflow: hidden;
    /*height: 270px;*/
    margin-left: $PAGE_WIDTH + 28px;
    position: fixed;
    bottom: 30px;
    z-index: 500;
    padding: 9px;
  }
  .Site-scroller__main.is-type0 {
    width: 60px;
  }
  .Site-scroller__main.is-type1 {
    width: 100px;
  }
    .Site-scroller__set {
      border-bottom: 1px solid #ebebeb;
      margin-bottom: 9px;
      padding-bottom: 20px;
    }
    .Site-scroller__return {
      @include sprite-bg($common-btn-return);
      margin-bottom: 20px;
    }
    .Site-scroller__sns {
      width: 68px;
      margin-left: auto;
      margin-right: auto;
    }
      .Site-scroller__sns-fb {
        margin-bottom: 5px;
      }
      .Site-scroller__sns-tw {

      }
    .Site-scroller__pagetop {
      margin-left: auto;
      margin-right: auto;

      &.is-type0 {
        @include sprite-bg($common-btn-pagetop);
      }
      &.is-type1 {
        @include sprite-bg($common-btn-pagetop2);
      }
    }