@charset "UTF-8";

/* ==========================================================================
   Site-header
   ========================================================================== */
.Site-header {
  background-color: #f0f0f0;
  border-bottom: 1px solid #d6d6d6;
  position: fixed;
  height: 111px;
  /*overflow: hidden;*/
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  backface-visibility: hidden;
}
  .Site-header__misc {
    line-height: 30px;
    font-size: 12px;
    overflow: hidden;
  }
    .Site-header__misc-desc {
      float: left;
      color: #929292;
      font-weight: bold;
    }
    .Site-header__misc-link {
      float: right;
      font-size: 11px;
      color: #929292;
      font-weight: bold;
    }
  .Site-header__main {
    background-color: #fff;
  }
    .Site-header__ci {
      float: left;
      margin-top: 18px;

      a {
        @include sprite-bg($common-ci);
      }
    }