@charset "UTF-8";

/* ==========================================================================
   Heading
   ========================================================================== */

/**
 * Heading
 */
.Heading {
  color: #4d4d4d;
  font-size: 20px;
  font-weight: bold;
  float: left;
  line-height: 1.9;/* 38px */
}
  .Heading__txt {
  }

.Heading.is-s {/* @FIX_ME */
  font-size: 16px;
}

.Heading-1 {
  background: #fff linear-gradient(to bottom, #fff, #f5f5f5) repeat-x;
  border-top: 2px solid $COLOR_FOCUS;
  color: $COLOR_BASE;
  font-size: 28px;
  height: 90px;
  text-align: center;
  line-height: 90px;
}