@charset "UTF-8";

/* ==========================================================================
   Nav
   ========================================================================== */


/**
 * Site-nav
 */
.Site-nav {
  background-color: #fff;
  float: right;
  height: 80px;
}
  .Site-nav__inner {
    height: inherit;
    /*overflow: hidden;*/
  }
    .Site-nav__item {
      float: left;
      height: inherit;
      position: relative;

      + .Site-nav__item {
        margin-left: 44px;
      }
    }
      .Site-nav__link {
        color: #555;
        font-size: 10px;
        display: block;
        height: inherit;
        padding-top: 20px;
        text-align: center;

        &:hover {
          text-decoration: none;
        }
      }
        .Site-nav__link-icon {
          background-color: gray;
          width: 24px;
          height: 24px;
          line-height: 24px;
          overflow: hidden;
          border-radius: 24px;
          margin: 0 auto 8px;

          &.is-my {
            border-radius: 12px;
          }

        }
        .Site-nav__link-txt {
          font-weight: bold;
        }

  /**
   * my account
   */
  .Site-nav__myaccount {
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 200px;
    position: absolute;
    padding: 10px 15px;
    top: 69px;
    right: 0px;
    z-index: 5;
  }
    .Site-nav__myaccount-menu {
    }
      .Site-nav__myaccount-menu-item {

        &.is-logout {
          border-top: 1px solid #ccc;
          padding-top: 8px;
          margin-top: 8px;
        }

      }
        .Site-nav__myaccount-menu-a {
          color: #666;
          display: block;
          padding-top: 6px;
          padding-bottom: 6px;
        }