@charset "UTF-8";

/* ==========================================================================
   Sidebar
   ========================================================================== */

/*
(1000 - (230 + 30)) - 31*2
*/

/**
 * rightパターンも考えておく
 */
.Sidebar {
  float: left;
  width: 228px;
}

/**
 * Search
 * @TO_DO 可変にする
 */
.Search {
  overflow: hidden;
}
  .Search-input {
    float: left;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-right: none;
    border-radius: 4px 0 0 4px;
    width: 174px;
    height: 34px;
    line-height: 34px;
    padding-left: 11px;
    padding-right: 11px;
    appearance: none;
  }
  .Search-btn {
    float: right;
    background-color: #ec0d17;
    background-image: linear-gradient(to bottom, #ff555d, #ec0d17);
    border: 1px solid #bcbcbc;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 34px;
    width: 54px;
  }
