@charset "UTF-8";

/* ==========================================================================
   Sidebar
   ========================================================================== */

/*
(1000 - (230 + 30)) - 31*2
*/

/**
 * Sidebar
 */
.Sidebar {
  float: left;
  width: 228px;

  &.is-type0 {
    width: 350px;
  }

}

/**
 * Side-area
 */
.Side-area-0 {
  border: 1px solid #dbdbdb;
  border-radius: 6px;
  padding: 25px;
}

.Side-area-1 {
  background-color: #fffbf7;
  border: 1px solid #ff9331;
  border-radius: 6px;
  padding: 25px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.1);
}

/**
 * Search
 * @TO_DO 可変にする
 * @TO_DO エリアモジュールにする
 */
.Search {
  overflow: hidden;
}
  .Search-input {
    float: left;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-right: none;
    border-radius: 4px 0 0 4px;
    width: 174px;
    height: 34px;
    line-height: 34px;
    padding-left: 11px;
    padding-right: 11px;
    appearance: none;
  }
  .Search-btn {
    float: right;
    background-color: #ec0d17;
    background-image: linear-gradient(to bottom, #ff555d, #ec0d17);
    border: 1px solid #bcbcbc;
    border-radius: 0 4px 4px 0;
    color: #fff;
    font-size: 14px;
    height: 34px;
    width: 54px;
  }
