@charset "UTF-8";

/* ==========================================================================
   Sidebar
   ========================================================================== */

/*
(1000 - (230 + 30)) - 31*2
*/

.Page-main {
  float: right;
  width: 742px;
  height: 500px;
}
  .Page-h {/* @FIX_ME これ微妙 */
    font-size: 20px;
    /*color: #444;*/
    line-height: 34px;
  }


/**
 * rightパターンも考えておく
 */
.Sidebar {
  float: left;
  width: 228px;
}

/**
 * Search
 * @TO_DO 可変にする
 */
.Search {
  overflow: hidden;
}
  .Search-input {
    float: left;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-right: none;
    border-radius: 4px 0 0 4px;
    width: 174px;
    height: 34px;
    line-height: 34px;
    padding-left: 11px;
    padding-right: 11px;
    appearance: none;
  }
  .Search-btn {
    float: right;
    background-color: #ff0418;/* @FIX_ME gradation */
    border: 1px solid #bcbcbc;
    border-radius: 0 4px 4px 0;
    color: #fff;
    height: 34px;
    width: 54px;
  }

/**
 * Local-nav
 */
.Local-nav {
}

/**
 * Local-nav-menu
 */
.Local-nav-menu {
}
  .Local-nav-menu__list {
  }
    .Local-nav-menu__item {
      border-bottom: 1px solid #ebebeb;
      padding-top: 4px;
      padding-bottom: 4px;
    }
      .Local-nav-menu__link {
        border-radius: 2px;
        color: inherit;
        display: block;
        font-size: 14px;
        padding: 8px 26px 8px 10px;
        position: relative;

        &:hover {
          background-color: #ff881a;
          color: #fff;
          text-decoration: none;/* FIX_ME */

          &:after {
            background-color: #fff;
          }
        }

        &:after {
          content: '';
          background-color: gray;
          height: 11px;
          width: 6px;
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 10px;
          margin-top: auto;
          margin-bottom: auto;
        }
      }

/**
 * Local-nav-menu-h
 */
.Local-nav-menu__h {
  border-top: 2px solid #e60013;
  border-bottom: 1px solid #ebebeb;
  padding-top: 18px;
  padding-bottom: 18px;
}
  .Local-nav-menu__h-txt {
    color: #444;
    font-size: 16px;
    line-height: 1;
    vertical-align: middle;
  }
  .Local-nav-menu__h-icon {
    vertical-align: middle;
    width:24px;
    height:24px;
    display:inline-block;
    background-color:gray;

    margin-right: 13px;
  }
