@charset "UTF-8";

/*
 Variables
---------------------------------------------------------------------------*/

$imagePath: '../images/';

/*
@import "sprite/_common-sprite-base";
@import "sprite/_top-sprite-base";
*/

@import "sprite/_common-sprite-base";
@import "sprite/_about-sprite-base";
@import "sprite/_start-sprite-base";

/* layout */
$MIN_VISUAL_WIDTH:  1440px;
$MIN_PAGE_WIDTH: 1200px;
$PAGE_WIDTH: 1000px;

/* color */
$COLOR_BASE: #444;
$COLOR_WEAK: #666;
$COLOR_FOCUS: #e60013;

$BASE_LINE_HEIGHT: 1.4;

/* font */
$DEVICE_FONT_JP: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", sans-serif;
$DEVICE_FONT_EN: Helvetica, Arial, sans-serif;

/* easing */
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInQuint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInExpo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$easeInQuad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);

$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeOutQuint: cubic-bezier(0.23, 1, 0.32, 1);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutQuad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$easeOutExpo: cubic-bezier(0.19, 1, 0.22, 1);
$easeOutCirc: cubic-bezier(0.075, 0.82, 0.165, 1);

$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$easeInOutCine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
