@charset "UTF-8";

/* ==========================================================================
   Visual
   ========================================================================== */

/**
 * visual
 */
.Visual {
  position: relative;
  overflow: hidden;
}
  .Visual__bg {
    min-width: $MIN_VISUAL_WIDTH;
    margin-left: -120px;
    margin-right: -120px;
  }