@charset "UTF-8";

/* ==========================================================================
   About
   ========================================================================== */

.About-container {
  padding-top: 50px;
  padding-bottom: 50px;
}

/**
 * visual
 */
.About-visual {
}
  .About-visual__hitarea {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
    .About-visual__hitarea-txt {
      @include sprite($about-visual-txt);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      pointer-events: none;
    }

/**
 * header
 */
.About-header {
  color: #e60013;
  text-align: center;
  margin-bottom: 40px;
}
  .About-header__heading {
    border-bottom: 1px solid $COLOR_FOCUS;
    display: inline-block;
    padding: 0 4px 7px;
  }
    .About-header__heading-obj {
      @include sprite($about-circle);
      position: relative;
      margin: -($about-circle-height) auto 0;
    }
    .About-header__heading-obj-num {
      @include sprite($about-circle-num);
      font-size: 58px;
      font-weight: bold;
      margin: 30px auto 0;
    }

    .About-header__heading-txt-0 {
      margin-top: 7px;
      font-size: 16px;
    }
    .About-header__heading-txt-1 {
      margin-top: 12px;
      font-size: 34px;
    }
  .About-header__dsc {
    font-size: 24px;
    margin-top: 30px;
  }

/**
 * case
 */
.About-case {
  text-align: center;
}
  .About-case__item {
    display: inline-block;
    vertical-align: bottom;

    + .About-case__item {
      margin-left: 28px;
    }
  }

/**
 * action
 */
.About-action {
  width: 480px;
  float: left;
}
  .About-action__h {
    background-color: #858b98;
    border-radius: 7px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    margin-bottom: 16px;
  }
  .About-action__media {
    @include Entry();
    padding: 10px 20px 10px 10px;
  }
    .About-action__media-img {
      margin-right: 30px;
    }
    .About-action__media-h {
      font-size: 26px;
      margin-top: 20px;
    }
    .About-action__media-dsc {
      margin-top: 10px;
      font-size: 14px;
    }

/**
 * faq
 */
.About-faq {
}
  .About-faq__h {
    background-color: #363b47;
    color: #fff;
    text-align: center;
    border-radius: 6px 6px 0 0;
    line-height: 30px;
    font-size: 18px;
  }
  .About-faq__body {
    border: 1px solid #ebebeb;
    border-top: none;
    border-radius: 0 0 6px 6px;
    padding: 30px 40px;
    overflow: hidden;
  }
    .About-faq__list {

      li + li {
        margin-top: 18px;
      }
    }
