@charset "UTF-8";

/* ==========================================================================
   Project
   ========================================================================== */
.Project-visual {
  margin-top: 20px;
}
  .Project-visual__main {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 400px;
    overflow: hidden;
  }
    .Project-visual__img {
      float: left;
      width: 610px;
      height: 100%;
      overflow: hidden;

      img {
        width: auto;
        height: 100%;
      }

    }
    .Project-visual__body {
      overflow: hidden;
      padding: 23px 28px;
    }

  /**
   * conditions
   */
  .Project-visual__conditions {
    min-height: 172px;
  }
    .Project-visual__condition {
      overflow: hidden;
      width: 100%;
      margin-bottom: 8px;
    }
      .Project-visual__condition-dt {
        float: left;
      }
      .Project-visual__condition-dd {
        float: right;

        &.is-sum {
          font-size: 32px;
          margin-top: -0.2em;
        }

      }

  /**
   * alert
   */
  .Project-visual__alert {
    color: #e00314;
    border: 2px solid #ccc;
    border-radius: 6px;
    text-align: center;
    padding: 24px 0 19px;
  }


  .Project-visual__title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

/**
 * addition
 */
.Project-addition {
  display: table;
}
  .Project-addition__item {
    display: table-cell;
    vertical-align: middle;

    &.is-0 {
      width: 610px;
    }
    &.is-1 {
      width: 390px;
    }
  }
    .Project-addition__sns {
      background-color: #f1f1f1;
    }
    .Project-addition__conditon {
      background-color: #999;
      border-radius: 6px;
      color: #fff;
      font-size: 14px;
      margin-left: 40px;
      padding: 10px 27px;
    }

/**
 * promoter
 */
.Project-promoter {

}
  .Project-promoter__media {
    margin-bottom: 20px;
  }
    .Project-promoter__media-img {
      margin-right: 20px;
    }
    .Project-promoter__media-body {
      padding-top: 33px;
    }
  .Project-promoter__outline {

  }

/**
 * outline
 */
.Project-outline {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 40px;
}

/**
 * update
 */
.Project-update {
  font-size: 16px;
  line-height: 1.6;
  padding-top: 20px;
}
  .Project-update__header {
    margin-bottom: 20px;
  }
    .Project-update__header-date {
      font-size: 12px;
    }
    .Project-update__header-h {
      font-size: 20px;
      font-weight: bold;
      margin-top: 7px;
    }
  .Project-update__sns {
    background-color: #f7f7f7;
    padding: 10px 20px;
  }


.Project-update__related {

}
  .Project-update__related-item {
    padding-top: 30px;
    padding-bottom: 30px;

    + .Project-update__related-item {
      border-top: 1px solid #d8d8d8;
    }
  }
    .Project-update__related-item-img {
      margin-right: 20px;
    }

  .Project-update__related-item-header {

  }
    .Project-update__related-item-header-date {
      font-size: 12px;
      color: #888;
    }
    .Project-update__related-item-header-h {
      margin-top: 2px;
    }
  .Project-update__related-item-body {
    font-size: 12px;
  }
  .Project-update__related-item-footer {
    font-size: 14px;
    font-weight: bold;
    margin-top: 8px;
  }

/**
 * cheer
 */
.Project-cheer {
}
  .Project-cheer__comment {
    border-bottom: 1px solid #ebebeb;
    padding-top: 20px;
    padding-bottom: 20px;
  }
    .Project-cheer__comment-img {
      border-radius: 3px;
      overflow: hidden;
      margin-right: 20px;
    }
    .Project-cheer__comment-main {

    }
      .Project-cheer__comment-header {
        margin-bottom: 8px;
        vertical-align: middle;
      }